<mat-dialog-content class="dialog-content">
    <body class="is-preload">
       <div id="page-wrapper">
           <section id="cta4">
               <div class="container">
                   <header>
                       <div class="card-container">
                           <div class="lower-container">
                               <div>
                                   <h2 class="subtitulo">{{Titulo}}</h2>
                               </div>
 
                               <form class="example-form"  [formGroup]="SignupForm" *ngIf="SignupForm" enctype="multipart/form-data">
                                    <div>
                                      <mat-form-field class="example-full-width">
                                          <mat-label>*Nombre de mascota</mat-label>
                                          <input matInput placeholder="nombre" formControlName="nombre" class="form-control" maxlength="30">
                                      </mat-form-field>
                                      <span class="help-block" *ngIf="((SignupForm.get('nombre').touched || 
                                      SignupForm.get('nombre').dirty) && SignupForm.get('nombre').errors)">
                                      <span *ngIf="SignupForm.get('nombre').errors.required">
                                         <h6 class="helpError">Campo requerido</h6> 
                                      </span>
                                      <span *ngIf="SignupForm.get('nombre').errors.maxlength">
                                         <mat-error class="helpError">Ingrese como máximo 30 caracteres</mat-error> 
                                      </span>
                                      <span *ngIf="SignupForm.get('nombre').errors.pattern">
                                         <h6 class="helpError">Formato del nombre no válido</h6>
                                      </span>
                                     </span>
                                    </div> 
                                  
                                  <div>
                                    <mat-form-field class="example-full-width">
                                        <mat-label>*Publicar para:</mat-label>
                                        <mat-select >
                                            <mat-option value="disponible adopcion">Adopción</mat-option>
                                            <mat-option value="disponible provisorio">Provisorio</mat-option>
                                            <mat-option value="disponible adopcion y provisorio">Ambos</mat-option>
                                        </mat-select> 
                                    </mat-form-field>
                                    <span class="help-block" *ngIf="((SignupForm.get('estado').touched ||
                                    SignupForm.get('estado').dirty) && SignupForm.get('estado').errors)">
                                <span *ngIf="SignupForm.get('estado').errors.required">
                                    <h6 class="helpError">Campo requerido</h6>
                                </span>
                                </span>
                                  </div>                                   
 
                                <div id="cachorro" class="izquierda">
                                     <mat-form-field class="example-form">
                                         <mat-label>*Es cachorro</mat-label>
                                         <mat-select formControlName="cachorro">
                                             <mat-option value="0">Si</mat-option>
                                             <mat-option value="1">No</mat-option>
                                         </mat-select> 
                                     </mat-form-field>
                                     <span class="help-block" *ngIf="((SignupForm.get('cachorro').touched ||
                                     SignupForm.get('cachorro').dirty) && SignupForm.get('cachorro').errors)">
                                 <span *ngIf="SignupForm.get('cachorro').errors.required">
                                     <h6 class="helpError">Campo requerido</h6>
                                 </span>
                                 </span>
                                </div> 
 
                                <div class="derecha">
                                    <mat-form-field class="example-form">
                                        <mat-label>*Tamaño final</mat-label>
                                        <input matInput placeholder="tamaño" formControlName="tamaño" class="form-control" maxlength="30">
                                    </mat-form-field>
                                    <span class="help-block" *ngIf="((SignupForm.get('tamaño').touched ||
                                    SignupForm.get('tamaño').dirty) && SignupForm.get('tamaño').errors)">
                                     <span *ngIf="SignupForm.get('tamaño').errors.required">
                                         <h6 class="helpError">Campo requerido</h6>
                                     </span>
                                     <span *ngIf="SignupForm.get('tamaño').errors.maxlength">
                                         <mat-error class="helpError">Ingrese como máximo 30 caracteres</mat-error>
                                     </span>
                                     <span *ngIf="SignupForm.get('tamaño').errors.pattern">
                                         <h6 class="helpError">Formato de tamaño no válido</h6>
                                     </span>
                                    </span>
                                </div> 
 
                               <div class="derecha">
                                   <mat-form-field class="example-form">
                                       <mat-label>*Sexo</mat-label>
                                       <mat-select formControlName="sexo">
                                           <mat-option value="1">Hembra</mat-option>
                                           <mat-option value="0">Macho</mat-option>
                                       </mat-select>
                                   </mat-form-field>
                                   <span class="help-block" *ngIf="((SignupForm.get('sexo').touched ||
                                   SignupForm.get('sexo').dirty) && SignupForm.get('sexo').errors)">
                                 <span *ngIf="SignupForm.get('sexo').errors.required">
                                     <h6 class="helpError">Campo requerido</h6>
                                 </span>
                                 </span>
                               </div> 
 
                               <div class="izquierda">
                                   <mat-form-field class="example-form">
                                       <mat-label>*Edad(año,mes)</mat-label>
                                      <input matInput type="number" formControlName="edad" class="form-control" min="0" max="20" step="0.1">                                    
                                   </mat-form-field>
                                   <span class="help-block" *ngIf="((SignupForm.get('edad').touched ||
                                   SignupForm.get('edad').dirty) && SignupForm.get('edad').errors)">
                                 <span *ngIf="SignupForm.get('edad').errors.required">
                                     <h6 class="helpError">Campo requerido</h6>
                                 </span>
                                 </span>
                               </div>
 
                               <div class="derecha">
                                   <mat-form-field class="example-form">
                                       <mat-label>*Raza Padre</mat-label>
                                       <input matInput placeholder="raza padre" formControlName="razaPadre" class="form-control" maxlength="30">
                                   </mat-form-field>
                                   <span class="help-block" *ngIf="((SignupForm.get('razaPadre').touched ||
                                   SignupForm.get('razaPadre').dirty) && SignupForm.get('razaPadre').errors)">
                                 <span *ngIf="SignupForm.get('razaPadre').errors.required">
                                     <h6 class="helpError">Campo requerido</h6>
                                 </span>
                                 <span *ngIf="SignupForm.get('razaPadre').errors.maxlength">
                                     <mat-error class="helpError">Ingrese como máximo 30 caracteres</mat-error>
                                 </span>
                                 <span *ngIf="SignupForm.get('razaPadre').errors.pattern">
                                     <h6 class="helpError">Formato de raza de padre no válido</h6>
                                 </span>
                                 </span>
                               </div>
 
                               <div class="izquierda">
                                   <mat-form-field class="example-form">
                                       <mat-label>*Raza Madre</mat-label>
                                       <input matInput placeholder="raza madre" formControlName="razaMadre" class="form-control" maxlength="30">
                                   </mat-form-field>
                                   <span class="help-block" *ngIf="((SignupForm.get('razaMadre').touched ||
                                   SignupForm.get('razaMadre').dirty) && SignupForm.get('razaMadre').errors)">
                                  <span *ngIf="SignupForm.get('razaMadre').errors.required">
                                      <h6 class="helpError">Campo requerido</h6>
                                  </span>
                                  <span *ngIf="SignupForm.get('razaMadre').errors.maxlength">
                                      <mat-error class="helpError">Ingrese como máximo 30 caracteres</mat-error>
                                  </span>
                                  <span *ngIf="SignupForm.get('razaMadre').errors.pattern">
                                      <h6 class="helpError">Formato de raza de madre no válido</h6>
                                  </span>
                                 </span>
                               </div>
 
                               <div class="derecha">
                                   <mat-form-field class="example-form">
                                       <mat-label>*Castrado</mat-label>
                                       <mat-select formControlName="castrado">
                                           <mat-option value="1">Si</mat-option>
                                           <mat-option value="2">No</mat-option>
                                           <mat-option value="3">Con compromiso</mat-option>
                                       </mat-select>
                                   </mat-form-field>
                                   <span class="help-block" *ngIf="((SignupForm.get('castrado').touched ||
                                   SignupForm.get('castrado').dirty) && SignupForm.get('castrado').errors)">
                                  <span *ngIf="SignupForm.get('castrado').errors.required">
                                      <h6 class="helpError">Campo requerido</h6>
                                  </span>
                                 </span>
                               </div>
 
                               
                               <div class="izquierda">
                                   <mat-form-field class="example-form">
                                       <mat-label>*Conducta con niños</mat-label>
                                       <mat-select formControlName="conductaNiños">
                                           <mat-option value="excelente">Excelente</mat-option>
                                           <mat-option value="muy buena">Muy buena</mat-option>
                                           <mat-option value="buena">Buena</mat-option>
                                           <mat-option value="regular">Regular</mat-option>
                                           <mat-option value="mala">Mala</mat-option>
                                           <mat-option value="muy mala">Muy mala</mat-option>
                                           <mat-option value="no se sabe">No se sabe</mat-option>
                                        </mat-select>
                                   </mat-form-field>
                                   <span class="help-block" *ngIf="((SignupForm.get('conductaNiños').touched ||
                                   SignupForm.get('conductaNiños').dirty) && SignupForm.get('conductaNiños').errors)">
                                   <span *ngIf="SignupForm.get('conductaNiños').errors.required">
                                       <h6 class="helpError">Campo requerido</h6>
                                   </span>
                                 </span>
                               </div>
 
                               <div class="derecha">
                                   <mat-form-field class="example-form">
                                       <mat-label>*Conducta con gatos</mat-label>
                                      <mat-select formControlName="conductaGatos">
                                          <mat-option value="excelente">Excelente</mat-option>
                                          <mat-option value="muy buena">Muy buena</mat-option>
                                          <mat-option value="buena">Buena</mat-option>
                                          <mat-option value="regular">Regular</mat-option>
                                          <mat-option value="mala">Mala</mat-option>
                                          <mat-option value="muy mala">Muy mala</mat-option>
                                          <mat-option value="no se sabe">No se sabe</mat-option>
                                      </mat-select> 
                                     </mat-form-field>
                                     <span class="help-block" *ngIf="((SignupForm.get('conductaGatos').touched ||
                                     SignupForm.get('conductaGatos').dirty) && SignupForm.get('conductaGatos').errors)">
                                     <span *ngIf="SignupForm.get('conductaGatos').errors.required">
                                         <h6 class="helpError">Campo requerido</h6>
                                     </span>                                    
                                 </span>
                               </div>
 
                              <div class="izquierda">
                                  <mat-form-field class="example-form">
                                      <mat-label>*Conducta con perros</mat-label>
                                      <mat-select formControlName="conductaPerros">
                                          <mat-option value="excelente">Excelente</mat-option>
                                          <mat-option value="muy buena">Muy buena</mat-option>
                                          <mat-option value="buena">Buena</mat-option>
                                          <mat-option value="regular">Regular</mat-option>
                                          <mat-option value="mala">Mala</mat-option>
                                          <mat-option value="muy mala">Muy mala</mat-option>
                                          <mat-option value="no se sabe">No se sabe</mat-option>
                                        </mat-select> 
                                  </mat-form-field>
                                  <span class="help-block" *ngIf="((SignupForm.get('conductaPerros').touched ||
                                  SignupForm.get('conductaPerros').errors.dirty) && SignupForm.get('conductaPerros').errors)">
                                 <span *ngIf="SignupForm.get('conductaPerros').errors.required">
                                     <h6 class="helpError">Campo requerido</h6>
                                 </span>                               
                                 </span>
                                </div> 
 
                              <div>
                                  <mat-form-field class="example-full-width">
                                      <mat-label>*Descripción</mat-label>
                                      <input matInput placeholder="descripcion" formControlName="descripcion" class="form-control" maxlength="150">
                                  </mat-form-field>
                                  <span class="help-block" *ngIf="((SignupForm.get('descripcion').touched ||
                                  SignupForm.get('descripcion').dirty) && SignupForm.get('descripcion').errors)">
                                  <span *ngIf="SignupForm.get('descripcion').errors.required">
                                      <h6 class="helpError">Campo requerido</h6>
                                  </span>
                                  <span *ngIf="SignupForm.get('descripcion').errors.maxlength">
                                      <mat-error class="helpError">Ingrese como máximo 150 caracteres</mat-error>
                                  </span>
                                  <span *ngIf="SignupForm.get('descripcion').errors.pattern">
                                      <h6 class="helpError">Formato no válido</h6>
                                  </span>
                                 </span>
                              </div>
 
                                <div>
                                        <mat-from-field class="example-full-width">
                                            <label id="btnRegistro" color="accent" class="button"> Seleccionar Imagen
                                            <input type="file" name="imagen" style="display: none;" (change)="capturarFile($event)">
                                            </label> 
                                        </mat-from-field>  
                            
                                            <div class="preview-img" *ngIf="previsualizacion">
                                                <a mat-raised-button id="btnRegistro" color="accent" type="button" (click)="clearImage()">Eliminar</a>
                                                <img  [src]="previsualizacion" alt="">
                                            </div>                                   
                                </div>
                                                               
 
                             <div>
                                 <p id="requer">(*)Campos obligatorios</p>
                             </div>
 
                             <div>
                                 <a mat-raised-button color="accent" class="button" id="btnRegistro" style="margin-right: 3px;" type="button" mat-dialog-close>Cancelar</a>
                                 <a mat-raised-button color="accent" class="button" id="btnRegistro" type="button" (click)="registrarAnimal()">Aceptar</a>
                             </div> 
 
                               </form>
                           </div>
                       </div>
                   </header>
               </div>
           </section>
 
       </div> 
    </body> 
 
 </mat-dialog-content>
 