<mat-dialog-content class="dialog-content">
   <body class="is-preload">
      <div id="page-wrapper">
          <section id="cta4">
              <div class="container">
                  <header>
                      <div class="card-container">
                          <div class="lower-container">
                              <div>
                                  <h2 class="subtitulo">{{Titulo}}</h2>
                              </div>

                              <form class="example-form" [formGroup]="SignupForm" *ngIf="SignupForm">
                                 <div>
                                     <mat-form-field class="example-full-width">
                                         <mat-label>*Nombre de mascota</mat-label>
                                         <input matInput placeholder="nombre" formControlName="nombre" class="form-control" maxlength="60">
                                     </mat-form-field>
                                 </div> 

                                <div id="cachorro" class="izquierda">
                                    <mat-form-field class="example-form">
                                        <mat-label>*Es cachorro</mat-label>
                                        <mat-select>
                                            <mat-option value="1">Si</mat-option>
                                            <mat-option value="2">No</mat-option>
                                        </mat-select> 
                                    </mat-form-field>
                                </div> 

                               <div class="derecha">
                                   <mat-form-field class="example-form">
                                       <mat-label>*Tamaño final</mat-label>
                                       <input matInput placeholder="tamaño" formControlName="tamaño" class="form-control" maxlength="60">
                                   </mat-form-field>
                               </div> 

                              <div class="derecha">
                                  <mat-form-field class="example-form">
                                      <mat-label>*Sexo</mat-label>
                                      <mat-select>
                                          <mat-option value="1">Hembra</mat-option>
                                          <mat-option value="2">Macho</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div> 

                              <div class="izquierda">
                                  <mat-form-field class="example-form">
                                      <mat-label>*Edad(año,mes)</mat-label>
                                     <input matInput type="number" class="form-control" step="0.1">                                    
                                  </mat-form-field>
                              </div>

                              <div class="derecha">
                                  <mat-form-field class="example-form">
                                      <mat-label>*Raza Padre</mat-label>
                                      <input matInput placeholder="raza padre" formControlName="razaPadre" class="form-control" maxlength="60">
                                  </mat-form-field>
                              </div>

                              <div class="izquierda">
                                  <mat-form-field class="example-form">
                                      <mat-label>*Raza Madre</mat-label>
                                      <input matInput placeholder="raza madre" formControlName="razaMadre" class="form-control" maxlength="60">
                                  </mat-form-field>
                              </div>

                              <div class="derecha">
                                  <mat-form-field class="example-form">
                                      <mat-label>*Castrado</mat-label>
                                      <mat-select>
                                          <mat-option value="1">Si</mat-option>
                                          <mat-option value="2">No</mat-option>
                                      </mat-select>
                                  </mat-form-field>

                              </div>

                              <div class="izquierda">
                                 <mat-form-field class="example-form">
                                     <mat-label>*Fecha de alta</mat-label>
                                     <input matInput type="date" formControlName="fechaAlta" class="form-control">
                                 </mat-form-field> 
                              </div>

                              <div>
                                  <mat-form-field class="example-full-width">
                                      <mat-label>*Conducta con niños</mat-label>
                                      <input matInput placeholder="conducta con niños" formControlName="conductaNiños" class="form-control" maxlength="200">
                                  </mat-form-field>
                              </div>

                              <div>
                                  <mat-form-field class="example-full-width">
                                      <mat-label>*Conducta con otros gatos</mat-label>
                                      <input matInput placeholder="conducta con otros gatos" formControlName="conductaGatos" class="form-control" maxlength="200">
                                    </mat-form-field>
                              </div>

                             <div>
                                 <mat-form-field class="example-full-width">
                                     <mat-label>*Conducta con perros</mat-label>
                                     <input matInput placeholder="conducta con perros" formControlName="conductaPerros" class="form-control" maxlength="200">
                                 </mat-form-field>
                             </div> 

                             <div>
                                 <mat-form-field class="example-full-width">
                                     <mat-label>*Descripción</mat-label>
                                     <input matInput placeholder="descripcion" formControlName="descripcion" class="form-control" maxlength="200">
                                 </mat-form-field>
                             </div>

                            <div>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Agrega una fotografia</mat-label>
                                    <input matInput maxlength="60">
                                </mat-form-field>
                            </div> 

                            <div>
                                <p id="requer">(*)Campos obligatorios</p>
                            </div>

                            <div>
                                <a mat-raised-button color="accent" class="button" id="btnRegistro" type="button" mat-dialog-close>Cancelar</a>
                                <a mat-raised-button color="accent" class="button" id="btnRegistro" type="button">Aceptar</a>
                            </div> 

                              </form>
                          </div>
                      </div>
                  </header>
              </div>
          </section>

      </div> 
   </body> 

</mat-dialog-content>
