
    
<h3 class="titulo">Solicitudes</h3>

    <div class="container-principal">
        <mat-tab-group>

            <mat-tab label="Adopciones">
                <div class="margenes container-publicaciones">

                    <div *ngIf="2 === 2">
                        <h2>No tienes solicitudes de adopción pendientes...</h2>
                    </div>
                </div>
            </mat-tab>



            <mat-tab label="Provisorios">
            <div class="margenes container-publicaciones">
                <div *ngIf="2 === 2">
                <h2>No tienes solicitudes de provisorio pendientes...</h2>
                </div>
            </div>
        </mat-tab>
        </mat-tab-group>
    </div>

<div class="return-container">
    <button mat-button type="button" color="accent" class="btn-return" routerLink="/mascotas">Volver a "Mis Mascotas"</button>
</div>