<mat-dialog-content>
    <body class="is-preload">
    <div id="page-wrapper">
        <section id="cta4">
            <div class="container">
                <header>
                    <div class="card-container">
                        <div class="lower-container">
                            <div>
                                <h2 class="subtitulo">{{Titulo}}</h2>
                            </div>

                            <form class="example-form"  [formGroup]="SignupForm" >
                                 <div class="izquierda">
                                   <mat-form-field class="example-form">
                                       <mat-label>*Nombre de Vacuna</mat-label>
                                       <input matInput placeholder="nombre de vacuna" [(ngModel)]="vac.nombre" formControlName="nombre" class="form-control" maxlength="30">
                                   </mat-form-field>
                                   <span class="help-block" *ngIf="((SignupForm.get('nombre').touched || 
                                      SignupForm.get('nombre').dirty) && SignupForm.get('nombre').errors)">
                                      <span *ngIf="SignupForm.get('nombre').errors.required">
                                         <h6 class="helpError">Campo requerido</h6> 
                                      </span>
                                      <span *ngIf="SignupForm.get('nombre').errors.maxlength">
                                         <mat-error class="helpError">Ingrese como máximo 30 caracteres</mat-error> 
                                      </span>
                                      <span *ngIf="SignupForm.get('nombre').errors.pattern">
                                         <h6 class="helpError">Formato del nombre no válido</h6>
                                      </span>
                                     </span>
                                 </div> 
                                             

                             <div class="derecha">
                                  <mat-form-field class="example-form">
                                      <mat-label>*Cantidad de Dosis</mat-label>
                                      <input matInput type="number" [(ngModel)]="vac.cantidadDosis" formControlName="cantidadDosis" class="form-control"
                                                min="0" max="10">
                                  </mat-form-field>
                                  <span class="help-block" *ngIf="((SignupForm.get('cantidadDosis').touched ||
                                   SignupForm.get('cantidadDosis').dirty) && SignupForm.get('cantidadDosis').errors)">
                                            <span *ngIf="SignupForm.get('cantidadDosis').errors.required">
                                                <h6 class="helpError">Campo requerido</h6>
                                            </span>
                                        </span>
                             </div> 

                            <div>
                                <a mat-raised-button color="accent" class="button" id="btnRegistro" type="button" (click)="agregar()">Agregar</a>
                            </div> 
                                             

                            <div class="example-full-width">                                    
                                  <div>
                                    <table mat-table [dataSource]="vacunas" #tabla1>
                                  
                                      <ng-container matColumnDef="nombre">
                                        <th mat-header-cell *matHeaderCellDef> Nombre Vacuna </th>
                                        <td mat-cell *matCellDef="let vac"> {{vac.nombre}} </td>
                                      </ng-container>
                                  
                                                                      
                                     
                                      <ng-container matColumnDef="cantidadDosis">
                                        <th mat-header-cell *matHeaderCellDef> Cantidad de Dosis </th>
                                        <td mat-cell *matCellDef="let vac"> {{vac.cantidadDosis}} </td>
                                      </ng-container>

                                      <ng-container matColumnDef="borrar">
                                        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                                        <td mat-cell *matCellDef="let j = index;">
                                          <button mat-raised-button color="accent" id="btnRegistro" (click)="borrarFila(j)">Borrar
                                          </button>
                                        </td>
                                      </ng-container>

                                  
                                      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                                      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                                    </table>
                                  </div>                                
                                
                           </div>                                    

                          <div>
                              <a mat-raised-button color="accent" class="button" id="btnRegistro" style="margin-right: 3px;" type="button" mat-dialog-close>Cancelar</a>
                              <a mat-raised-button color="accent" class="button" id="btnRegistro" type="button" (click)="registrarVacuna()">Aceptar</a>
                          </div> 

                            </form>
                        </div>
                    </div>
                </header>
            </div>
        </section>

    </div> 
 </body> 

</mat-dialog-content>