<div class=container-notfound>
    <div class=img-item>
        <img class=img-construction src="./assets/not-found-images/notfound-computer.png" alt="Computadora triste">
    </div>
    <div class=txt-construction>
        <p class=title-bold>¡Lo sentimos!</p>
        <p>ERROR 404 - Page Not Found.</p>
        <p>La página que intentas solicitar no se ha podido encontrar en el servidor.</p>
        <a routerLink="/landing" (click)="scrollTop()">Volver a la página de inicio</a>
    </div>
</div>