<div class="margenes container-publicaciones">
    <mat-card class="card-publicacion" *ngFor=" let pet of mascotasPubProvisorio">
        <mat-card-header>
            <mat-card-title class="card-title sin-overflow">{{pet.nombreMascota}}</mat-card-title>
            <mat-card-subtitle>{{pet.sexo}} | {{pet.edad}}</mat-card-subtitle>
        </mat-card-header>
        <div class="contenedor-imagen">
            <img mat-card-image src={{pet.imagenCard}} alt="Imagen de la mascota" class="imagen">
        </div>
        <mat-card-content class="card-description">
            <div class="sin-overflow-description">{{pet.descripcion}}</div> 
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>PROVISORIO</button>
        </mat-card-actions>
    </mat-card>
</div>
<mat-paginator [pageSizeOptions]="[4, 8, 16, 32]"></mat-paginator>