
/*CARDS DISTRIBUTION */

.container-publicaciones{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.margenes{
    margin: 30px 30px 30px 30px;
}

/* CARDS */

.card-publicacion {
    max-width: 300px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-title{
    color: #C50FA1;
}

.card-description{
    width: 270px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.sin-overflow{
    width: 280px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sin-overflow-description{
    width: 280px;
    display: -webkit-box;   
    -webkit-line-clamp: 2;   
    -webkit-box-orient: vertical;     
    overflow: hidden; 
}
