
.Pie{
    background-color:hsl(312, 22%, 95%);
    position: relative;
    left:0;
    bottom:0;
    width:100%;
    text-align:center;
    padding: 15px 0 0;
    }

#letras{
    font-family:Roboto;
    text-transform: uppercase;
    font-weight:450;
    font-size: 110%;
    color:black;
}

#letras1{
    font-family:Roboto;
    text-transform: uppercase;
    font-weight:450;
    font-size: 110%;
    color:black;
}



#Pie{
    font-weight:450;
}

.paw-icon{
    color: "accent";
    margin-left: 5.5rem;
    size: 1rem;
  
  }
  
  
  
@media (max-width:903px){
    #letras1{
    bottom:100px;
}
}

@media(max-width:600px){
.pie{
    position: relative;
    //left:0;
    bottom:0;
    width:100%;
    text-align:center;
}
}





