<footer id="gtco-footer" class="Pie" role="contentinfo">
    <div class="container" style="padding-bottom: 0px">
        <div class="row copyright">
            <div>             
                    <a *ngIf="!isAdminRol" name="gtco-practice-areas1" (click)="goToHome($event)" class="footerPointer">¿Quiénes somos? |</a>
                    <a  href="#" *ngIf="!isAdminRol"name="gtco-about" (click)="goToHome($event)" class="footerPointer"> ¿Cómo funciona? |</a>
                    <a  *ngIf="!activeProffessionalRol && !isAdminRol" name="gtco-our-team" (click)="goToHome($event)" class="footerPointer"> Servicios ofrecidos |</a>
                    <a *ngIf="!isAdminRol" (click)="openFaqs()" style="cursor: pointer;">Preguntas frecuentes |</a>
                    <a *ngIf="!isAdminRol" name="gtco-contact" (click)="goToHome($event)" class="footerPointer"> Contáctanos |</a>
                    <a *ngIf="!isAdminRol" (click)="openTermsAndConditions()" class="footerPointer"> Términos y condiciones </a>
                  <br>
                  <br>  
                    <small class="block" >Córdoba, Argentina </small>
                    <small class="block">&copy; UTN FRC - ServWeb 2021</small>
            </div>
        </div>
        <br />
    </div>
</footer>
