
.Pie{
    background-color:hsl(312, 22%, 95%);
    position: relative;
    left:0;
    bottom:0;
    width:100%;
    text-align:center;
    padding: 15px 0 0;
    }

#letras{
    margin-top: 1rem;
    font-style: italic;
    margin-left: 0.5rem;
    margin-right:1rem;
    float: left;
}

#PieP{ 
    margin-top: 0rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    float:right;
    
}




