<mat-dialog-content class="dialog-content">

   <body class class="is-preload">
       <div id="page-wrapper">
           <section id="cta4">
               <div class="container">
                   <header>
                      <div class="card-container">
                          <div class="lower-container">
                            <div>
                                <h2 class="subtitulo">{{Titulo}}</h2>
                            </div>
                            <form class="example-form" [formGroup]="SignupForm" *ngIf="SignupForm">
                                <div>
                                    <mat-form-field class="example-full-width">
                                        <mat-label>*Nombre de mascota</mat-label>
                                    <input matInput placeholder="nombre" formControlName="nombre" class="form-control"
                          maxlength="60">
                                    </mat-form-field>
                         
                                </div>

                            <div>
                                <mat-form-field class="example-full-width">
                                    <mat-label>*Descripción</mat-label>
                                    <input matInput placeholder="descripcion" formControlName="descripcion" class="form-control" maxlength="300">
                                </mat-form-field>
                            </div> 

                            <div>
                                <a mat-raised-button (click)="dialog.closeAll()" color="accent" class="button" id="btnRegistro" type="button">Cancelar</a>
                                <a mat-raised-button color="accent" class="button" id="btnRegistro" type="button">Aceptar</a>
                            </div>

                               
                              

                            </form>
                          </div>
                      </div> 
                   </header>
               </div>
           </section>

       </div> 
   </body> 
</mat-dialog-content>
