.titulo{
    display: flex;
    flex-direction: row;
    font-size: 200% !important;
    font-family: 'Times New Roman';
    font-style: bold;
    margin-top: 20px;
    }

.container-titulo{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
}

.centrado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.centrado-titulo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

// Scroll

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    }

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    margin:3px;
}

::-webkit-scrollbar {
    width: 12px;
}

#btncuenta{
    color:#B80092;
    cursor: pointer;
    float:right;
    border-color:transparent;
    background-color: transparent;
    outline: none;
    border-radius: 3px;
    line-height: 24px;
    width: 32px;
    font-size: 150%;
}

.container-btn{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 30px;

}

.btnaceptar{
    color:white;
    margin-left: 35px;
}

.confirmar, .loading{
    margin-left: 2px;
}

.loading{
    background-color: #d996cc !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    cursor: none !important;
}

#btnRegistro{
    color: #EBEEF1;
    background-color: #c50fa1;
    cursor: pointer;
}

.btnRechazar{
    color: #EBEEF1;
    background-color: grey;
    cursor: pointer;
}

button:disabled{
    cursor: not-allowed;
}

#btnRegistro{
    color: #EBEEF1;
    background-color: #c50fa1;
    cursor: pointer;
}

.confirmar, .loading{
    margin-left: 2px;
}

.loading{
    background-color: #d996cc !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    cursor: none !important;
    height: 36px !important;
}

#btncuenta, #confirmar{
    color: #EBEEF1;
    background-color: #c50fa1;
    min-width: 90px;
    line-height: 36px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

#btncruz{
    color:#B80092;
    cursor: pointer;
    float:right;
    border-color:transparent;
    background-color: transparent;
    outline: none;
    border-radius: 3px;
    line-height: 24px;
    width: 32px;
    font-size: 150%;
}

.logo{
    margin-left: -5px;
    width: 40px;
    height: 40px;
    margin-top:-20px;
}

// MEDIAS QUERIES

@media (min-width: 541px){ 
    .container-row1{
        display:flex;
        flex-direction:row;
        text-align: center;
        justify-content: space-between;
    }
    
    .derecha{
        margin-left: 20px;
    }
    
    .ref{
        width: 510px;
    }
    
    mat-form-field{
        width: 245px;
    }
    
    textarea{
        width: 510px;
    }
    }
    
@media (max-width: 540px){
    .container-row1{
        flex-direction: column;}

    .derecha{
        margin-left: 0px;}
}
