
<h1 mat-dialog-title>Preguntas Frecuentes</h1>
<mat-dialog-content>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class=section-title>Sobre la postulación en los procesos</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <h3 class=question-title>¿Quiénes pueden participar en los procesos?</h3>
            <p>Toda persona mayor a 18 años puede postularse para adoptar o brindar provisorio a un animalito.</p>
            <mat-divider></mat-divider><br>
            <h3 class=question-title>Ya me postulé, ¿y ahora qué?</h3>
            <p>El Centro Rescatista o particular a cargo de la mascota recibirá la información de tu perfil y los datos de tu formulario.</p>
            <p>A partir de allí, analizarán tu información. Cuando tomen una decisión serás notificado y podrás continuar con el proceso si fuiste seleccionado.</p>
        </mat-expansion-panel>  
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class=section-title> Sobre Centros Rescatistas </p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <h3 class=question-title>Ya registré mi Centro, ¿por qué mi cuenta no fue automáticamente activada?</h3>
            <p>Al ser un Centro Rescatista tenes funcionalidades especiales que te permiten, por ejemplo, recibir donaciones de personas que quieran colaborar con tu trabajo.</p>
            <p>Tu registro de cuenta será analizado por nosotros para corrobar que efectivamente tu Centro existe. Este proceso no es automático y requiere de un análisis manual por nuestra parte.</p>
            <p>¡No te preocupes! Serás notificado y podrás comenzar a utilizar el sistema muy pronto.</p>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class=section-title> Sobre el retiro del animal </p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <h3 class=question-title> ¡Me aceptaron para adoptar o brindar provisorio!, ¿y ahora qué?</h3>
            <p>Una vez que confirmás el proceso, queda entre vos y el Centro Rescatista o particular a cargo de la mascota en contactarse para coordinar cómo y cuándo será la entrega.</p>
            <p>AdoptMe no se hace responsable del momento del retiro de la mascota. </p>
        </mat-expansion-panel>
    </mat-accordion>

</mat-dialog-content>
