.mat-dialog-content{
    height: 600px;
}

.question-title{
    font-weight: 500;

}

.section-title{
    margin-top: 10px;
    color: #B80092,
}

#btncuenta{
    color:#B80092;
    background-color:white;
    cursor: pointer;
    float:right;
    border-color: white;
    border-radius: 3px;
    margin-right: 0%;
    margin-top: 0%;
    line-height: 36px;
    width: 36px;
    font-size: 150%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
  }