

.card-container{
    width: 50%;
    min-height: 60%;
    height: auto;
    border-radius: 15px;
    position: absolute;
    top: 46.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 1px 10px 1px #000;
    overflow: hidden;
    display: inline-block;
    background: rgb(255, 245, 237);
    overflow-y: auto !important;
    max-height: 83%;
    margin-top: 5%;
    padding-bottom: 2% !important;
    }


  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    margin:3px;
}
  
::-webkit-scrollbar {
    width: 12px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgb(255, 245, 237) inset;
  }


.subtitulo{
    font-size: 200% !important;
    font-family: 'Times New Roman';
    font-style: bold;
    margin: 50px 0px 20px 30px;
    text-align: center;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

.centrado{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#btncuenta{
    color:#B80092;
    cursor: pointer;
    float:right;
    border-color:transparent;
    background-color: transparent;
    outline: none;
    border-radius: 3px;
    margin-right: 0%;
    margin-top: 0%;
    line-height: 36px;
    width: 36px;
    font-size: 150%;
  }

  #btnEdit{
    color:#B80092;
    cursor: pointer;
    float:right;
    border-color:transparent;
    background-color: transparent;
    outline: none;
    border-radius: 3px;
    margin-top: 0%;
    line-height: auto;
    width: auto;
    font-size: 100%;
  }

// MEDIAS QUERIES


  .container-row1{
      display:flex;
      flex-direction:row;
      text-align: center;
      justify-content: space-between;
  }
  
  .derecha{
      margin-left: 20px;
  }
  
  .ref{
      width: 510px;
  }
  
  mat-form-field{
      width: 245px;
  }
  
  textarea{
      width: 510px;
  }

  
  @media (max-width: 599px){
      .container-row1{
      flex-direction: column;}
  
      .derecha{
          margin-left: 0px;
      }

      .ref, textarea{
        width: 245px;
    }

    .card-container{
        width: 95% !important;
        }

  }

 
  /*
@media (max-width:540px){
    
.card-container{
    width: 80% !important;
    height: 60% !important;
    top: 40% !important;
    margin-top: 2% !important;
    }
.container-row1{
    flex-direction: column;
    }
    
.derecha{
    margin-left: 0px;
    }
    
}
*/

@media (min-width: 600px) and (max-width: 1099px)
{
    
    .card-container{
        top: 43.5% !important;
        width: 90% !important;
        }
    
}


@media (min-width: 1100px){

    .card-container{
        top: 40% !important;
        width: 50% !important;
        }
}

