<form *ngIf="FilterForm">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Sexo</mat-label>
      <mat-select formControlName="sexo">
        <mat-option value="Hembra">Hembra</mat-option>
        <mat-option value="Macho">Macho</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Centro rescatita / Responsable</mat-label>
      <input matInput placeholder="Nombre" formControlName="nombre" class="form-control" maxlength="30">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Especie</mat-label>
      <mat-select formControlName="tipoAnimal">
        <mat-option value="0">Perro</mat-option>
        <mat-option value="1">Gato</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Tamaño final</mat-label>
      <mat-select formControlName="tamano">
        <mat-option *ngIf="animal == 0" value="Pequeño">Pequeño</mat-option>
        <mat-option *ngIf="animal == 0" value="Mediano">Mediano</mat-option>
        <mat-option *ngIf="animal == 0" value="Grande">Grande</mat-option>
        <mat-option *ngIf="animal == 1" value="No aplica">No aplica</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Barrio" formControlName="barrio" class="form-control" maxlength="30">
    </mat-form-field>
  </div>

  <a mat-raised-button color="accent" class="button confirmar" type="button" id="confirmar"
    (click)="buscar()">Buscar</a>

  <div class="RegistroBox RegistroBoxlbl cleanLink">
    <label class="RegistroLabel"><a class="links" (click)="clean()">Limpiar
        campos</a></label>
  </div>
  <div class="RegistroBox RegistroBoxBtnGuardar " style="width: 100% !important; margin-top: 0%">
    <a class="btn btnGuardar" (click)="buscar()">Buscar</a>
  </div>
</form>