<div class="mapa-container">
    <h1 class="titulo">Nuestras recomendaciones</h1>
    <div class="referencia">
        <img src="assets/images/leaflet/blue-icon.png" alt="" class="pines">
        <p class="subtitulo">VETERINARIAS</p>
        <p>:   Selecciona en el mapa las veterinarias que queden cerca tuyo para ver su información de contacto, ¡todas están recomendadas por la comunidad!</p>
    </div>
    <div class="referencia">
        <img src="assets/images/leaflet/red-icon.png" alt="" class="pines">
        <p class="subtitulo">CENTROS DE CASTRACIÓN</p>
        <p>:  Ofrecen castración segura y gratuita para perros y gatos. ¡Contactate con ellos para solicitar un turno y más información!</p>
    </div>

    <div id="map"></div> 
</div>
