#map {
    height: 500px;
    width: 1000px;
    margin-left: 30px;
    margin: auto;
    margin-bottom: 10px;
  }

#mapa-container{
  height: 1000px;
}

.titulo{
  font-weight: 800;
  color: black;
  font-size: 200%;
  font-style: italic;
  margin-top: 2rem;
  text-align: center;
}

.pines{
  height: 25px;
}

.referencia{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}

.subtitulo{
  font-weight: 600;
  margin-left: 5px;
}