<div class="mapa-container">
    <h1 class="titulo">Nuestras recomendaciones</h1>
    <div class="textos">
        <div class="referencia">
            <img src="assets/images/leaflet/blue-icon.png" alt="" class="pines">
            <p class="subtitulo">VETERINARIAS:&ensp;</p>
            <p>Selecciona las que estén cerca tuyo para ver su información de contacto, ¡todas están recomendadas por la comunidad!</p>
        </div>
        <div class="referencia">
            <img src="assets/images/leaflet/red-icon.png" alt="" class="pines">
            <p class="subtitulo">CENTROS DE CASTRACIÓN:&ensp;</p>
            <p>Ofrecen castración segura y gratuita para perros y gatos, ¡contactate con ellos para solicitar un turno y más información!</p>
        </div>
    </div>
    <div id="map"></div> 
</div>
