.btnLogout{
    color:#B80092;
    font-weight:bold;
    border: #fafafa;
    background-color: #fafafa;
}

.logout-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.titulo{
    font-weight: 800;
    color: black;
    font-size: 200%;
    font-style: italic;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
}

.centrado{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


// MEDIAS QUERIES

@media (min-width: 541px){ 
    .container-row1{
        display:flex;
        flex-direction:row;
        text-align: center;
        justify-content: space-between;
    }
    
    .derecha{
        margin-left: 20px;
    }
    
    .ref{
        width: 510px;
    }
    
    mat-form-field{
        width: 245px;
    }
    
    textarea{
        width: 510px;
    }
    }
    
@media (max-width: 540px){
    .container-row1{
        flex-direction: column;}

    .derecha{
        margin-left: 0px;}
}


