.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (min-width: 400px){
  .sidenav{
  display: none;
  }
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.spacer{
  flex: 1 1 auto;
}

@media (max-width: 400px){
  #navtitle{
  display: none;
  }
}

/*Preguntar a las chicas porque no me anda con clase*/ 
@media (max-width: 600px){
  #navtitle{
  display: none;
  }
}

