/* Generados por el componente */

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* NavBar */

.spacer{
  flex: 1 1 auto;
}

#btncuenta{
  color: white;
}

.nav-titles{
  display: inline-block;
  margin: 0 10px;
  color: #383333;
}

@media (max-width: 600px){
  .nav-titles{
    display: none;
  }
}

.adoptme-title{
  font-family: DancingScript;
  font-weight: 600;
  color: black;
  font-size: 150%;
}

/* Side NavBar*/

.hidden{
  display: none;
}

.paw-icon{
  color: "accent";
  margin-left: 90px;
  size: 5px;

}

/* efecto de subrayado en items*/

mat-list-item { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}

mat-list-item a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

mat-nav-list a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0
}
mat-nav-list a:hover:after { 
  width: 100%; 
  left: 0
}

/*Generales */

a{
  text-decoration: none;
}