/* Generados por el componente */

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.notificaciones-container{
  position: fixed;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  right: 0px;
  width: 360px;
  height: 91%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: none;
  float: right;
  border-radius: 0px 0px 0px 10px;
  box-shadow: 0px 2px 5px 2px #d8d6d6;
  z-index: 1;
}

.titleNotificacion{
  width: 360px;
  height: 35px;
  margin: 10px 0px 0px 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d8d6d6;
}

.notificacion-box{
  width: 360px;
  height: 80px;
  cursor: pointer;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d8d6d6;
}

.notificacion-box:hover{
  background-color: #d8d6d6;
}

.notificationContent{
  float: left;
  width: 310px;
  padding: 10px;
  margin-top: 2.1%;
}

.boxNoLeida{
  float: right;
  width: 30px;
  align-items: center;
}

.noLeida{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #c50fa1;
  margin-top: 112%;

}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* NavBar */

.spacer{
  flex: 1 1 auto;
}

#btncuenta{
  color: #EBEEF1;
  font-size: 16px;
  margin:2px;
}

.nav-titles{
  display: inline-block;
  margin: 0 0.8rem;
  color: #383333;
  font-size: 18px;
}

.icon{
  margin: 0 1.5rem;
}

.nav-titles:hover{
  color: white;
}

@media (max-width: 960px){
  .nav-titles{
    display: none;
  }
}

@media(max-width:700px){
  #btncuenta{
    font-size: 50%;
    padding: 0 0 0;
  }
}

.adoptme-title{
  font-family: DancingScript;
  font-weight: 600;
  color: black;
  font-size: 150%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.user-icon{
  float: right;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #EBEEF1;
  background-color: #c50fa1;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

/* Side NavBar*/

.hidden{
  display: none;
}

.paw-icon{
  color: "accent";
  margin-left: 5.5rem;
  size: 1rem;

}

/*efecto de subrayado en items del Side NavBar*/

mat-list-item { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}

mat-list-item a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

mat-nav-list a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0
}
mat-nav-list a:hover:after { 
  width: 100%; 
  left: 0
}

/*Generales */

a{
  text-decoration: none;
}