<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [ngClass]="{ hidden: !(isHandset$ | async) }"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <!-- mat-toolbar referencia al contenido del boton hamburguesa -->  
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/adoptar" (click)="drawer.toggle(); scrollTop()">Adoptar</a>
      <a mat-list-item routerLink="/provisorio" (click)="drawer.toggle(); scrollTop()">Brindar provisorio</a>
      <fa-icon [icon]="faPaw" class="paw-icon"></fa-icon>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- main tool bar -->
    <mat-toolbar color="primary">
      <!-- Boton hamburguesa -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button color="accent"
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a href="#" class="adoptme-title">AdoptMe</a>
      <a routerLink="/adoptar" class="nav-titles" (click)="scrollTop()">Adoptar</a>
      <a routerLink="/provisorio" class="nav-titles" (click)="scrollTop()">Brindar provisorio</a>
      <span class="spacer"></span>
      <a mat-raised-button routerLink="/signup-options" color="accent" id="btncuenta" *ngIf="isSignupOptions()" (click)="scrollTop()">Crear cuenta</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
