<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <!-- mat-toolbar referencia al contenido del boton hamburguesa -->  
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Adoptar</a>
      <a mat-list-item href="#">Brindar provisorio</a>
      <a mat-list-item href="#">Donar</a>
      <a mat-list-item href="#">Sobre nosotros</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- main tool bar -->
    <mat-toolbar color="primary">
      <!-- Boton hamburguesa -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button color="accent"
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>AdoptMe</span>
      <a href="#" id="navtitle">Adoptar</a>
      <a href="#" id="navtitle">Brindar provisorio</a>
      <span class="spacer"></span>
      <a mat-raised-button color="accent" href="#" id="btncuenta">Crear cuenta</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
