
<h3 class="titulo">Donaciones</h3>

<p class="subtitulo">Encontrá la información para colaborar con los Centros Rescatistas de la ciudad, ¡entre todos hacemos la diferencia!</p>


    
<div class="margenes container-publicaciones">
    <mat-card class="card-solicitud" *ngFor="let centro of centros">
        <div class="contenido-card">
                        
            <div class="columna1">
                <mat-card-header>
                    <mat-card-title class="card-title">
                        <div class="sin-overflow">Centro {{centro.nombres}}</div>
                    </mat-card-title>
                    <mat-card-subtitle>Barrio: {{centro.Direccion.barrio}}</mat-card-subtitle>
                </mat-card-header>
            </div>
            <div class="columna2">
                <mat-card-actions>
                    <button mat-button class="end" (click)="openInfo(centro)"><mat-icon>remove_red_eye</mat-icon></button>
                </mat-card-actions>
            </div>
        </div>
    </mat-card>
</div>

                