

.titulo{
    //font-family: DancingScript;
    font-weight: 800;
    color: black;
    font-size: 150%;
    margin-left: 10rem;
    margin-right: 20rem;
    text-align: center;
  }

  .regParticualr{
    max-width: 600px;
    max-height:600px ;
    
  }

  .regCentroRescatista{
    max-width: 600px;
    max-height:600px ;
    
  }
