

.titulo{
    font-weight: 800;
    color: black;
    font-size: 200%;
    margin-top: 2rem;
    margin-right: 2rem;
    text-align: center;
  }

  .regParticualr{
    max-width: 600px;
    max-height:600px ;
    margin-top: 2rem;
    margin-right: 2rem;
    
  }

  .regCentroRescatista{
    max-width: 600px;
    max-height:600px ;
    margin-top: 2rem;
    margin-right: 2rem;
  }
#titCentro{
    font-weight:bold;
    
}
#parraf{
    font-style: italic;
}

