

.titulo{
    font-weight: 800;
    color: black;
    font-size: 200%;
    margin-top: 2rem;
    margin-right: 2rem;
    text-align: center;
  }

 
  .regParticualr{
    max-width: 600px;
    max-height:600px ;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 3rem;
    background-color:#F8E2F1;
    
  }

  .regCentroRescatista{
    max-width: 600px;
    max-height:600px ;
    margin-top: 2rem;
    margin-right:2rem;
    margin-left: 3rem;
    background-color:#F8E2F1;
    
  }

#titCentro{
    font-weight:bold;
    
}
#parraf{
    font-style: italic;
}
.btnCentro{
    color:#B80092;
    font-weight:bold;
    border:#F8E2F1;
    background-color:#F8E2F1;
}

.btnParticular{
    font-weight:bold;
    color:#B80092;
    font-weight:bold;
    border:#F8E2F1;
    background-color:#F8E2F1;

}

