

.titulo{
    //font-family: DancingScript;
    font-weight: 800;
    color: black;
    font-size: 150%;
    margin-left: 1rem;
    margin-right: 2rem;
  }

  .regParticualr{
    max-width: 400px;
  }

  .regCentroRescatista{
    max-width: 400px;
  }
