<mat-dialog-content class="dialog-content">

  <body class="is-preload">
    <div id="page-wrapper">
      <section id="cta4">
        <div class="container">
          <header>
            <div class="card-container">
              <div class="lower-container">
                <div>
                  <div>
                    <h3 class="subtitulo">{{Titulo}}</h3>
                  </div>
                  <form [formGroup]="SignupForm" *ngIf="SignupForm">
                    <!--Categoría-->
                    <div class="RegistroBox">
                      <label class="RegistroLabel" for="formControlSelect">Nombre:</label>
                      <!--Falta input-->
                    </div>
                    <!--SubCategoría-->
                    <!--Categoría-->
                    <div class="RegistroBox">
                      <label class="RegistroLabel" for="formControlSelect">Nombre:</label>
                      <!--Falta input-->
                    </div>
                    <!--Descripción-->
                    <!--Categoría-->
                    <div class="RegistroBox">
                      <label class="RegistroLabel" for="formControlSelect">Nombre:</label>
                      <!--Falta input-->
                    </div>
                    <!--Categoría-->
                    <div class="RegistroBox">
                      <label class="RegistroLabel" for="formControlSelect">Nombre:</label>
                      <!--Falta input-->
                    </div>
                    <!--Categoría-->
                    <div class="RegistroBox">
                      <label class="RegistroLabel" for="formControlSelect">Nombre:</label>
                      <!--Falta input-->
                    </div>
                    <!--Categoría-->
                    <div class="RegistroBox">
                      <label class="RegistroLabel" for="formControlSelect">Nombre:</label>
                      <!--Falta input-->
                    </div>


                    <!--Fecha Requerida-->
                    <div class="RegistroBox">
                      <label class="RegistroLabel">*Fecha Requerida:</label>
                      <h5 class="parametroFecha">Desde:</h5>
                      <input type="date" name="initial" formControlName="initialDate"
                        class="form-control" />
                      <!--
                        <span class="help-block" *ngIf="validateInitialDate()">
                        <span *ngIf="validateInitialDate">
                          <h6 class="helpError">Campo requerido</h6>
                        </span>
                      </span>
                      <span class="help-block" *ngIf="(validateFinalDate() && !validateInitialDate())">
                        <span>
                          <h6 class="helpError helpErrorColor">
                            -
                          </h6>
                        </span>
                      </span>
                      -->
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </header>
        </div>
      </section>
    </div>
  </body>
</mat-dialog-content>