
.subtitulo{
    font-weight: 800;
    color: black;
    font-size: 200%;
    font-style: italic;
    margin-top: 2rem;
    margin-right: 2rem;
    text-align: center;
  }

  .btnRegistro{
  color:#B80092;
  font-weight: bold;
  border:#F8E2F1;
  background-color: #F8E2F1;
  cursor: pointer;
  outline: none;
  }
 
  .registroPerro{
    max-width: 43%;
    max-height:40%;
    margin-top: 2rem;
    margin-left: 2rem;
    background-color:#F8E2F1;
    float: left;
    padding-bottom:1.5rem;
    align-items: center;
  }

  .registroGato{
    max-width: 43%;
    max-height:50%;
    margin-top: 2rem;
    //margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom:1.5rem;
    background-color:#F8E2F1;
    float: right;
  }

  
@media(max-width: 600px){
  .registroGato{
     max-width: 80%;
     float: none; 
     margin-right: auto;
     margin-left: auto;

  }
  .registroPerro{
    max-width: 80%;
    float: none;  
    margin-right: auto;
    margin-left: auto;
  }

  .titulo{
    text-align: center;
    margin-top:2rem;
    margin-right:2rem;
    margin-left:2rem;
  }
}

@media (min-width: 601px) and (max-width: 1084px)
{

  .registroGato{
    max-width: 80%;
    float: none; 
    margin-right: auto;
    margin-left: auto;

 }
 .registroPerro{
   max-width: 80%;
   float: none;  
   margin-right: auto;
   margin-left: auto;
 }

 .subtitulo{
  text-align: center;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left:2rem;
}

}


#titGato{
    font-weight:bold;
    
}
#parraf{
    font-style: italic;
}




.perfiles{
  display:inline-block;
  }

  .footer{
    position:relative;
    bottom:0;
    //margin-top: 10rem;
    margin-bottom: 0;
  }