<mat-dialog-content class="dialog-content">

    <body class="is-preload">
      <div id="page-wrapper">
          <section id="cta4">
              <header>
                  <div class="card-container">
                      <div class="upper-container">
                          <h3 class="subtitulo">{{Titulo}}</h3>
                      </div>

                     <div class="container">
                        <div>
                          <mat-card class="registroPerro">
                            <mat-card-header>
                                <mat-card-title id="titPerro">Registrar Perro</mat-card-title>
                                
                              </mat-card-header>
                              
                              <mat-card-content>
                                <p id="parraf">
                                  Registra un perro para que pueda ser adoptado o encuentre un hogar provisorio 
                                  dentro de la ciudad de Córdoba Capital.
                                </p>
                              </mat-card-content>
                              <mat-card-actions>
                                  <button mat-raised-button class="btnPerro" (click)="signupPerro()">Registrar</button>
                              </mat-card-actions>
                          </mat-card>  

                         <mat-card class="registroGato">
                             <mat-card-header>
                                <mat-card-title id="titGato">Registrar Gato</mat-card-title>
                             </mat-card-header>

                             <mat-card-content>
                                <p id="parraf">
                                  Registra un gato para que pueda ser adoptado o encuentre un hogar provisorio 
                                  dentro de la ciudad de Córdoba Capital.
                                </p>
                              </mat-card-content>
                              <mat-card-actions>
                                  <button mat-raised-button class="btnGato" (click)="signupGato()">Registrar</button>
                              </mat-card-actions>
                         </mat-card> 
                        </div>
                     </div> 
                   


                      
                  </div>
              </header>
          </section>
      </div>


    </body>


</mat-dialog-content>
