
.mat-tab-group{
  width: 90%;
  margin-left: 20px;
}

.titulo{
  font-weight: 800;
  color: black;
  font-size: 200%;
  font-style: italic;
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
}

.container-principal{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-content: space-around;
  z-index: 0;
}

.container-general{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-content: space-evenly;
  align-content: space-around;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

#btncuenta{
  color:white;
  margin-right: 10%;
  margin-bottom: 10px;
}

.new-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.espacio{
  margin-bottom: 15px;
}
/*CARDS DISTRIBUTION */

.container-publicaciones{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

.margenes{
  margin: 30px 30px 30px 30px;
}

/* CARDS */

.card-publicacion {
  max-width: 300px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-title{
  color: #C50FA1;
}

.card-description{
  width: 270px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.sin-overflow{
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.sin-overflow-description{
  width: 280px;
  display: -webkit-box;   
  -webkit-line-clamp: 2;   
  -webkit-box-orient: vertical;     
  overflow: hidden; 
  min-height: 40px;
}

.dialog-content{
  height: 300px;
}

.primer-renglon{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.estado{
  border-radius: 14px;
  padding: 2px 10px 2px 10px;
  margin: 10px 2px 5px 0px;
  background-color: #aa008e;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.estado-container{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}


.filtro{
  float: left;
}


#btncuenta, #confirmado{
  color: #EBEEF1;
  background-color: #c50fa1;
  min-width: 64px;
  line-height: 36px;
  //padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

#confirmado{
  padding-left: 26px !important;
  padding-right: 26px !important;
}

.padding-filtros{
  margin-right: auto !important;
  margin-left: auto !important;
  width: 70%;
}


.botones{
  align-items: center;
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  display: flex;
}


.example-full-width{
  width: 17%;
}

.componente-filtros{
  display: flex;
  flex-flow: row wrap;
  min-height: 80px;
  background-color: #f8e2f1;
  height: auto;
  margin-top: 1.5%;
  width: 91.5%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
}

.margenesFiltros{
  margin-left: 30px;
  margin-top: 15px;
}



/* Mobile */

@media (max-width: 849px){
  .new-container{
    justify-content:center;
    margin-left: 0px;
  }


  #btncuenta{
    margin-right: 0px;
  }

  .mat-tab-group{
    width: 95%;
    margin-left: 0px;
  }

  .card-publicacion {
    margin-left: 0px;
    margin-right: 0px;

  }

}

.imagen{
  width: 100%;
  height: 100%;
}

.contenedor-imagen{
  width: 315px;
  height: 266px;
  overflow: hidden;
}


@media (max-width: 782px){

  .componente-filtros{
      padding-top: 3%;
      padding-bottom: 2%;
  }

  .example-full-width{
      width: 100%;
  }

  .margenesFiltros{
      margin-left: 0px;
      margin-top: 0px;
  }

  .filtro{
      float: clear;
  }

  .padding-filtros{
      width: 90%;
      padding-left: 4%;
      padding-right: 4%;
  }

}



@media (min-width: 783px) and (max-width: 1499px)
{
  .padding-filtros{
      width: 90%;
      padding-left: 4%;
  }

  .filtro{
      width: 15%;
  }

}


@media (min-width: 1500px){

  .padding-filtros{
      width: 80%;
      padding-left: 4%;
  }

  .botones{
      align-items: center;
      float: none;
      margin-left: -100px;
      margin-right: auto;
      padding-bottom: 10px;
      display: flex;
      margin-top: 8px;
  }
}