
.mat-tab-group{
  width: 90%;
  margin-left: 20px;
}

.titulo{
  font-weight: 800;
  color: black;
  font-size: 200%;
  font-style: italic;
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
}

.container-principal{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-content: space-around;
  z-index: 0;
}

.container-general{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-content: space-evenly;
  align-content: space-around;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

#btncuenta{
  color:white;
  margin-right: 10%;
}

.new-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/*CARDS DISTRIBUTION */

.container-publicaciones{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

.margenes{
  margin: 30px 30px 30px 30px;
}

/* CARDS */

.card-publicacion {
  max-width: 300px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-title{
  color: #C50FA1;
}

.card-description{
  width: 270px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.sin-overflow{
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sin-overflow-description{
  width: 280px;
  display: -webkit-box;   
  -webkit-line-clamp: 2;   
  -webkit-box-orient: vertical;     
  overflow: hidden; 
  min-height: 40px;
}

.dialog-content{
  height: 300px;
}

.primer-renglon{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.estado{
  border-radius: 14px;
  padding: 2px 10px 2px 10px;
  margin: 10px 2px 5px 0px;
  background-color: #aa008e;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.estado-container{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
/* Mobile */

@media (max-width: 849px){
  .new-container{
    justify-content:center;
  }

  #btncuenta{
    margin-right: 0px;
  }
}

.imagen{
  width: auto;
  height: 100%;
}

.contenedor-imagen{
  width: 300px;
  height: 266px;
  overflow: hidden;
}