    
<h3 class="titulo">Mis mascotas</h3>
<div class="new-container">
    <a mat-raised-button routerLink="/registrar-mascota" color="accent" id="btncuenta">Registrar nueva mascota</a>
</div>

    <div class="container-principal">
        <mat-tab-group>
            <mat-tab label="Disponibles">
                <div class="margenes container-publicaciones">
                    <mat-card class="card-publicacion" *ngFor=" let pet of mascotasPubAdopcion">
                        <mat-card-header>
                            <mat-card-title class="card-title">
                                <div class=primer-renglon>
                                    <div class="sin-overflow">{{pet.nombreMascota}}</div>
                                    <mat-slide-toggle ngModel name="enablePet"></mat-slide-toggle>
                                </div> 
                            </mat-card-title>
                            <mat-card-subtitle>{{pet.sexo}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content class="card-description">
                            <div class="sin-overflow-description">{{pet.descripcion}}</div> 
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>EDITAR</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="No disponibles"> Content 2 </mat-tab>
        </mat-tab-group>
    </div>