* {
    box-sizing: border-box;
  }
  html,
  body {
    background: #FCF6FD;
  }
  h1 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .custom-form {
    min-width: 300px;
    max-width: 60%;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem 3rem;
    margin: auto;
    line-height: 36px;
    background-color:#E8C0E0;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    color: black;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .custom-form input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    line-height: 36px;
    padding: 1rem;
    font-weight: bold;
    border: none;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
        rgba(0, 0, 0, 0.1);
    border: 0 none;
    background: #ebf5fc;
  }
  .custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    color:white;
    background-color: #c50fa1;
    font-weight: bold;
    line-height: 36px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 49%;
    display: block;
    padding: 0.875rem 1rem;
    cursor: pointer;
    margin-left: auto;
    margin-right:auto;
  }

  @media(max-width:600px){
    .custom-form button{
      font-size:70%;
    }
  }






