@import url("../../app/components/signup-particular/signup-particular.component.scss");

.card-container{
    overflow-y: auto !important;
    max-height: 57%;
    margin-top: 2%;
    width: 40%;
  }

.lower-container{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
  
form{
   margin-top: 5% !important; 
}

.section2-container{
    display:inline-flex;
    flex-flow: row nowrap;
    height: calc(4em + 40vw);
    width: 100%;
    justify-content:space-evenly;
    background-color: white;
    align-items: center;
}

.img-paws{
    height: calc(4em + 38vw);
}

.logo{
    margin-bottom: 0.5px;
    width: 35px;
    height: 35px;
  }

  .footer{
      position: absolute;
      bottom: 0;
      margin-top: 100rem;
      margin-bottom: 0;
  }