::-webkit-scrollbar {
  width: 12px;
}

.titulo{
font-size: 400%;
font-weight: bolder;
font-family: 'Times New Roman';
color:white !important;
line-height: 150px !important;
}

#btncuenta{
color: #EBEEF1;
background-color: #c50fa1;
cursor: pointer;
width: 35%;
height: 35%;
}

input{
width: 98% !important;
}

.password{
width: 90%;
float: left;
}

.tooldiv{
width: 10%;
float:right;
}

a [type="button"]:disabled {
background-color: #F8E2F1;
cursor: not-allowed ;
}

#botones{
margin-top: 4%;
}

.label{
text-align: left;
font-family: Roboto, "Helvetica Neue", sans-serif;

}

.example-form {
min-width: 150px;
max-width: 500px;
width: 100%;
}

input:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px rgb(255, 245, 237) inset;
}

.example-full-width {
width: 100%;
}

td {
padding-right: 8px;
}

form{
width: 80%;
margin-left: auto;
margin-right: auto;
margin-bottom: auto;
margin-top: auto;
}

textarea {
resize: none;
font-size: 15px;
border-color: rgba(85, 85, 85, 0.596) !important;
border-radius: 5px;
width: 100%;
}

input {
font-size: 15px;
width: 50%;
border-radius: 5px !important;
border-color: rgba(85, 85, 85, 0.596) !important;
}

#btncuenta{
color: #EBEEF1;
background-color: #c50fa1;
min-width: 64px;
line-height: 36px;
padding: 10px;
border-radius: 4px;
box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

::ng-deep .tool{

max-width: 20px !important;
}

.tool{
background-color: rgb(124, 124, 145);
line-height: 20px;
border-radius: 0px;
margin: 0px;
max-width: 25px !important;
text-align: center;
float: right;
padding-left: 7px;
padding-right: 7px;
margin-top: 18px;
margin-left: 5px;
border-style: solid;
border-color: rgb(43, 41, 41);
border-width: 0.7px;
}

.tool:active{
background-color: rgb(124, 124, 145);
border-style: unset;
}

.subtitulo{
font-size: 200% !important;
font-family: 'Times New Roman';
font-style: bold;
margin: 3%;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  margin:3px;
}


.lower-container{
height: auto !important;
overflow-y: auto !important;
}

.card-container{
overflow-y: auto !important;
max-height: 53%;
margin-top: 6%;
}


.mat-tab-label .mat-tab-label-content {
display: inline-flex !important;
justify-content: center !important;
align-items: center !important;
white-space: nowrap !important;
}

.mat-tab-label {
height: 48px !important;
padding: 0 24px !important;
box-sizing: border-box !important;
opacity: .6 !important;
min-width: 160px !important;
text-align: center !important;
display: inline-flex !important;
justify-content: center !important;
align-items: center !important;
white-space: nowrap !important;
position: relative !important;
}

.particularWidth1 {
width: 70% !important;
margin-left: -70px !important;
}

.particularWidth2 {
width: 5% !important;
margin-left: -25px;
}


@media (min-width: 1600px){

.container {
padding-bottom: 60% ;
    }


.RegistroBoxBtnGuardar {
width: 10%;
margin-right: 11.7%;
}

.RegistroBoxlbl {
    width: 56%;
}

.card-container{
    top: 40% !important;
    }

.professionalContainer {
    padding-bottom: 141% !important;
}

.professionalCardContainer {
    height: 89.5% !important;
    top: 49.5% !important;
}

.RegistroBoxBtnGuardar1{
    margin-right: -73% !important;
}

}


@media (min-width: 800px) and (max-width: 1600px){


.derecha,.izquierda {
  width: 49%;
}

.form{
    width: 80%;
}

.container {
padding-bottom: 71% ;
height:auto;
}

.lower-container{
    height: 30%;
    overflow-y: auto !important;
    }
    
    .card-container{
    overflow-y: auto !important;
    max-height: 50%;
    margin-top: 6%;
    }
    

.RegistroBoxBtnCancelar {
width: 13.5%;
}

.RegistroBoxBtnGuardar {
width: 13%;
margin-right: 12%;
}

.RegistroBoxlbl {
    width: 49.4%;
}
.card-container{
top: 43.5% !important;
}

.professionalContainer {
    padding-bottom: 165% !important;
}

.professionalCardContainer {
    height: 89% !important;
    top: 49% !important;
}

.solitario1 {
    margin-left: 80% !important ;
}

.RegistroBoxBtnGuardar1{
    margin-right: -63% !important;
}
}



@media (max-width: 799px){

.container {
padding-bottom: 150% !important;
}

.blank{
  font-size: 0px !important;
}

.card-container{
width: 80% !important;
height: 50% !important;
top: 40% !important;
}
}

.upper-container {
background: #000746 !important;
}

.btn {
width: 120px;
margin-top: 3px;
margin-right: 20px;
}

.RegistroLabel {
text-align: left;
font-size: 12px;
color: rgb(31, 31, 31);
}

#requer{
text-align: left;
font-size: 12px;
}

#passwordRequirement{
width: 100%;
float: left;
float: clear;
text-align: left;
}

input:disabled {
background: rgb(255, 245, 237);
cursor: not-allowed;
}

h3 {
font-size: 1.5em;
letter-spacing: -0.02em;
font-weight: bold;
font-weight: 400 !important;
color: rgb(34, 34, 34) !important;
}

.card-container{
width: 50%;
height: 85%;
border-radius: 15px;
position: absolute;
top: 46.5%;
left: 50%;
transform: translate(-50%,-50%);
box-shadow: 0px 1px 10px 1px #000;
overflow: hidden;
display: inline-block;
background: rgb(255, 245, 237);
}


.lower-container{
height: 100%;
padding: 20px;
padding-top: 40px;
text-align: center;
}
.lower-container h3, h4{
box-sizing: border-box;
line-height: .6;
font-weight: lighter;
}


select {
width: 95%;
border-radius: 10px;
font-size: 15px;
border-color: rgba(85, 85, 85, 0.596) !important;
}

.titulo{
font-size: 200%;
font-weight: bolder;
font-family: 'Times New Roman';
color:white !important;
line-height: 150px !important;
}


.links{
color: chocolate; 
font-size: 14px; 
margin-left: 10px; 
cursor: pointer; 
font-weight: bold
}

.helpError {
color: #f44336; 
font-size: 10px;
}



#btncuenta{
color: #EBEEF1;
background-color: #c50fa1;
line-height: 36px;
font-family: Roboto, "Helvetica Neue", sans-serif;
font-size: 14px;
font-weight: 500;
}


.professionalModal {
background-color: rgba(255, 251, 251); 
margin: 3%; 
border-radius: 15px; 
border-style: double;
}


.solitario1{
float: clear;
width: 82%;
margin-left: auto;
margin-right: auto;
margin-left: 60%;
margin-top: -10%;
margin-bottom: -7%;
}
