<mat-dialog-content>
 <body>
   <div class="container">
     <header>
       <div class="card-container">
         <div class="lower-container">
           <h2 class="subtitulo">{{titulo}}</h2>
           <form class="example-form" [formGroup]="SignUpForm" *ngIf="SignUpForm">
             <div>
               <mat-form-field class="example-full-width">
                <mat-label>*Correo</mat-label> 
                <input matInput placeholder="direccion@dominio.com" formControlName="email"
                class="form-control" maxlength="60">
               </mat-form-field>

               
             </div>

             <div>
               <mat-form-field class=example-full-width>
                 <mat-label>*Contraseña</mat-label>
                 <input matInput type="password" formControlName="password"
                class="form-control" id="password" maxlength="17">
               </mat-form-field>
             </div>

             <div id="passwordRequirement">
              <div>
                <p id="requer">(*)Campos obligatorios</p>
              </div>
            </div>

           <div>

           </div> 
             <a mat-raised-button routerLink="/landing" color="accent" class="button" type="button" id="btncuenta"> Cancelar</a>
            <a mat-raised-button color="accent" class="button" type="button" id="btncuenta" style="margin-left:10px;" (click)="login()">Ingresar</a>
            </form>
      
         </div>
       </div>
     </header>
   </div>
 </body> 
</mat-dialog-content>

