<h1 class="titulo">Reportes y estadísticas</h1>
<br>
<br>
<div class="subtitle">
    <h2>¿En cuántos días mis mascotas consiguen un hogar?</h2>
</div>

<div>
    <div class="container-principal" *ngIf="flagNoData === 0">
        <div class="container-grafico" >
            <h3>Tiempos mínimos de adopción</h3>

            <div id="myChart">
                <canvas baseChart
                [datasets]="barChartDataMin"
                [labels]="barChartLabelsMin"
                [options]="barChartOptionsMin"
                [legend]="barChartLegendMin"
                [chartType]="barChartTypeMin">
                </canvas>
            </div>
        </div>

        <div class="container-grafico">
            <h3>Tiempos promedios de adopción</h3>
            <div id="myChart">
                <canvas baseChart
                [datasets]="barChartDataProm"
                [labels]="barChartLabelsProm"
                [options]="barChartOptionsProm"
                [legend]="barChartLegendProm"
                [chartType]="barChartTypeProm">
                </canvas>
            </div>
        </div>

        <div class="container-grafico">
            <h3>Tiempos máximos de adopción</h3>
            <div id="myChart">
                <canvas baseChart
                [datasets]="barChartDataMax"
                [labels]="barChartLabelsMax"
                [options]="barChartOptionsMax"
                [legend]="barChartLegendMax"
                [chartType]="barChartTypeMax">
                </canvas>
            </div>
        </div>
    </div>
    <div *ngIf="flagNoData === 1" class="sms">
        <h4>¡Todavía no tienes mascotas adoptadas! Volvé a esta sección luego de haber concretado adopciones para obtener información valiosa sobre los tiempos de las mismas... </h4>
    </div>
    
</div>






