.titulo{
    font-weight: 800;
    color: black;
    font-size: 200%;
    font-style: italic;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
}


#myChart{
    display: block;
    width: 350px;
    height: 250px;
}

.totales{
    text-align: center;
    margin-top: 10px;
}

.container-principal{
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    justify-content: space-around;
}

// Fechas 
.container-fecha{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.btnPeriodo{
    color:#B80092;
    font-weight:bold;
    border: #fafafa;
    background-color: #fafafa;
}

.logo{
    width: 70px;
    height: 70px;
  }

.container-loading{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    height: 600px;
}


// ----------------

.container-grafico{
    display: flex;
    flex-flow: column;
    align-items: center;

}

.estado{
    border-radius: 14px;
    padding: 2px 10px 2px 10px;
    margin: 10px 2px 5px 0px;
    background-color: grey;
    color: #fff;
    font-weight: 500;
    text-align: center;
    width: 100px;
}

.subtitle{
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
}

.container-estado{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-items: baseline;
}

.tituloAdop{
    margin-right: 5px;
}

.tituloAdopGato{
    margin-left: 20px;
}

.container-columnas{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.sms{
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}