<h1 class="titulo">Reportes y estadísticas</h1>
<br>
<br>
<div class="container-fecha">

    <mat-form-field appearance="outline">
        <mat-label>Seleccionar periodo</mat-label>

        <mat-date-range-input type="date" [rangePicker]="picker" [max]="today" [min]="yearAgo" [formGroup]="range">
            <input matStartDate placeholder="Desde" formControlName="start" disabled [formControl]="today">
            <input matEndDate placeholder="Hasta" formControlName="end" disabled [formControl]="today">
        </mat-date-range-input>

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>

        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>

    </mat-form-field>

    <div class="centrado" *ngIf="range.value.start && range.value.end">
        <button mat-button type="button" color="accent" class="btnPeriodo"
            (click)="generarReportes(range.value.start, range.value.end)">Generar reportes</button>
    </div>
</div>

<div class="container-loading" *ngIf="reportesFlag">
    <img class=logo src="../../../assets/images/loading.gif" />
</div>


<div class="container-reportes" *ngIf="reportesFlag === false">
    <div class="subtitle">
        
    </div>
    <div class="subtitle">
        <h2>¿En cuántos días mis mascotas consiguen un hogar que los adopte?</h2>
        <h4>Este reporte muestra la cantidad de días que transcurren desde que se carga una mascota en el sistema hasta que la misma es adoptada. Conocé los tiempos para cada tipo de animal.</h4>              
    </div>
    <div class="subtitle" *ngIf="flagNoData === 0">
        <h3>Total de adopciones en el período seleccionado</h3>
            <div class="container-estado">
                <h4 class="tituloAdop">Perros adoptados en total </h4>
                <p class="estado" *ngIf="totalperroscachorro === 1">{{totalperroscachorro}} cachorro</p>
                <p class="estado" *ngIf="totalperrosadulto === 1">{{totalperrosadulto}} adulto</p>
                <p class="estado" *ngIf="totalperroscachorro != 1">{{totalperroscachorro}} cachorros</p>
                <p class="estado" *ngIf="totalperrosadulto != 1">{{totalperrosadulto}} adultos</p>

                <h3 class="tituloAdopGato tituloAdop">Gatos adoptados en total </h3>
                <p class="estado" *ngIf="totalgatoschorro === 1">{{totalgatoschorro}} cachorro</p>
                <p class="estado" *ngIf="totalgatosadulto === 1">{{totalgatosadulto}} adulto</p>
                <p class="estado" *ngIf="totalgatoschorro != 1">{{totalgatoschorro}} cachorros</p>
                <p class="estado" *ngIf="totalgatosadulto != 1">{{totalgatosadulto}} adultos</p>
            </div>


    </div>

    <div>
        <div class="container-principal" *ngIf="flagNoData === 0">
            <div class="container-grafico">
                <h3>Adopciones más rápidas</h3>

                <div id="myChart">
                    <canvas baseChart [datasets]="barChartDataMin" [labels]="barChartLabelsMin"
                        [options]="barChartOptionsMin" [legend]="barChartLegendMin" [chartType]="barChartTypeMin">
                    </canvas>
                </div>
            </div>

            <div class="container-grafico">
                <h3>Tiempo medio de adopciones</h3>
                <div id="myChart">
                    <canvas baseChart [datasets]="barChartDataProm" [labels]="barChartLabelsProm"
                        [options]="barChartOptionsProm" [legend]="barChartLegendProm" [chartType]="barChartTypeProm">
                    </canvas>
                </div>
            </div>

            <div class="container-grafico">
                <h3>Adopciones más lentas</h3>
                <div id="myChart">
                    <canvas baseChart [datasets]="barChartDataMax" [labels]="barChartLabelsMax"
                        [options]="barChartOptionsMax" [legend]="barChartLegendMax" [chartType]="barChartTypeMax">
                    </canvas>
                </div>
            </div>
        </div>
        <div *ngIf="flagNoData === 1" class="sms">
            <h4>¡Todavía no tienes mascotas adoptadas! Volvé a esta sección luego de haber concretado adopciones para
                obtener información valiosa sobre los tiempos de las mismas... </h4>
        </div>

    </div>

    <div class="subtitle" style="margin-top: 5%;">
        <h2>¿Cómo es la relación entre las adopciones de mis mascotas con sus antiguos provisorios?</h2>
        <h4>Conocé cuántas mascotas han sido adoptadas por alguna persona que les haya brindado provisorio con anterioridad.</h4>
    </div>


    <div class="container-principal">
        <div class="container-grafico">
            <h3><u>Perros adoptados</u></h3>

            <div id="myChart" *ngIf="mostrarReportePerro()">
                <canvas baseChart [datasets]="barChartDataPerro" [labels]="barChartLabelsPerro"
                    [options]="pieChartPerrosAdoptados" [legend]="barChartLegendPerro" [chartType]="barChartPerros">
                </canvas>
                <div>
                    <p class="totales">Cantidad total de perros adoptados: {{perrosTotal}}</p>
                </div>
            </div>

            <div id="myChart" *ngIf="!mostrarReportePerro()">
                <h4>No se encuentran resultados para el periodo seleccionado</h4>
            </div>
        </div>

        <div class="container-grafico">
            <h3><u>Gatos adoptados</u></h3>
            <div id="myChart" *ngIf="mostrarReporteGato()">
                <canvas baseChart [datasets]="barChartDataGato" [labels]="barChartLabelsGato"
                    [options]="pieChartGatosAdoptados" [legend]="barChartLegendGato" [chartType]="barChartGatos">
                </canvas>
                <div>
                    <p class="totales">Cantidad total de gatos adoptados: {{gatosTotal}}</p>
                </div>
            </div>
            
            <div id="myChart" *ngIf="!mostrarReporteGato()">
                <h4>No se encuentran resultados para el periodo seleccionado</h4>
            </div>
        </div>
    </div>
</div>