<h3 class="titulo">Mascotas adoptadas</h3>
<div class="componente-filtros">
  <div class="padding-filtros">
    <form [formGroup]="FilterForm" *ngIf="FilterForm">
      <div>
        <mat-form-field class="example-full-width margenesFiltros filtro">
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="sexo">
            <mat-option value="Hembra">Hembra</mat-option>
            <mat-option value="Macho">Macho</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width margenesFiltros filtro">
          <mat-label>Centro rescatista / Responsable</mat-label>
          <input matInput placeholder="Nombre" formControlName="nombre" class="form-control" maxlength="30">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width margenesFiltros filtro" (change)="changeTipoAnimal()">
          <mat-label>Tipo de mascota</mat-label>
          <mat-select formControlName="tipoMascota">
            <mat-option value="0" (click)="activarTamanio()">Perro</mat-option>
            <mat-option value="1" (click)="desactivarTamanio()">Gato</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width margenesFiltros filtro">
          <mat-label>Tamaño final</mat-label>
          <mat-select formControlName="tamanoFinal">
            <mat-option *ngFor="let tamano of tamanos" value="{{tamano}}">{{tamano}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width margenesFiltros filtro">
          <mat-label>Barrio</mat-label>
          <input matInput placeholder="Barrio" formControlName="barrio" class="form-control" maxlength="30">
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="botones">
    <a mat-raised-button color="accent" class="button confirmado" style="color: #ffffff; background-color: rgb(133 131 131 / 83%);" type="button" id="confirmado"
    (click)="clean()">Limpiar</a>
    <a mat-raised-button color="accent" class="button confirmado" style="color: #ffffff; margin-left: 2%;" type="button" id="confirmado"
      (click)="buscar()">Buscar</a>
    </div>
</div>

<div class="margenes container-publicaciones">
  <mat-card class="card-publicacion" *ngFor=" let pet of mascotasPubAdopcion">
    <mat-card-header>
      <mat-card-title class="card-title sin-overflow">{{pet.nombreMascota}}</mat-card-title>
      <mat-card-subtitle>{{pet.sexo}} | {{pet.edad}}</mat-card-subtitle>
    </mat-card-header>
    <div class="contenedor-imagen">
      <img mat-card-image src={{pet.imagenCard}} alt="Imagen de la mascota" class="imagen">
    </div>
    <mat-card-content class="card-description">
      <div class="sin-overflow-description">{{pet.descripcion}}</div>
      <div class="estado-container">
        <p class="estado">{{pet.estado}}</p>
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openMascota(pet)">Ver más</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="margenes container-publicaciones" *ngIf="mascotasPubAdopcion.length == 0 && filtroAplicado">
  <h2>No se han encontrado mascotas que coincidan con la búsqueda realizada...</h2>
</div>