<h1 class="titulo">{{Titulo}}</h1>
<div class="textos">
    <div class="referencia">
        <img src="assets/images/leaflet/blue-icon.png" alt="" class="pines">
        <p class="subtitulo">VETERINARIAS:&ensp;</p>
        <p>Selecciona las que estén cerca tuyo para ver su información de contacto, ¡todas están recomendadas por la
            comunidad!</p>
    </div>
    <div class="referencia">
        <img src="assets/images/leaflet/red-icon.png" alt="" class="pines">
        <p class="subtitulo">CENTROS DE CASTRACIÓN:&ensp;</p>
        <p>Ofrecen castración segura y gratuita para perros y gatos, ¡contactate con ellos para solicitar un turno y
            más información!</p>
    </div>
    <div class="referencia">
        <img src="assets/images/leaflet/green-icon.png" alt="" class="pines">
        <p class="subtitulo">VISTA PREVIA:&ensp;</p>
        <p>Se muestra la vista previa de la recomendación a registrar</p>
    </div>
</div>

<div class="mapa-container" style="margin-bottom: 600px">
    <div id="map"></div>
    <div class="card-container">
        <div class="lower-container">
            <form class="example-form" [formGroup]="SignupForm" *ngIf="SignupForm">
                <div class="margin">
                    <section>
                        <h2 class="subtitulo1">Registrar recomendación</h2>
                      <mat-label>*Indique el tipo de recomendación 
                      </mat-label>
                      <label class="example-margin"></label>
                      <div class="centrado">
                        <mat-radio-group>
                          <mat-radio-button class="example-margin" id="veterinaria" [value]="tiposRecomendacion[0]"
                          (change)="radioTipoChange(tiposRecomendacion[0])" style="font-size: 15px;" checked>
                            {{tiposRecomendacion[0]}}
                          </mat-radio-button>
                          <mat-radio-button class="example-margin" id="centro" [value]="tiposRecomendacion[1]"
                          (change)="radioTipoChange(tiposRecomendacion[1])" style="font-size: 15px;">
                            {{tiposRecomendacion[1]}}
                          </mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </section>
                  </div>
                <div>
                    <mat-form-field class="example-full-width" id="BoxNombre">
                        <mat-label>*Nombre del establecimiento</mat-label>
                        <input matInput type="text" formControlName="name" maxlength="65">
                    </mat-form-field>
                    <span class="help-block" *ngIf="((SignupForm.get('name').touched ||
                    SignupForm.get('name').dirty) &&
                    SignupForm.get('name').errors)">
                        <span *ngIf="SignupForm.get('name').errors.required">
                            <h6 class="helpError">Campo requerido</h6>
                        </span>
                        <span *ngIf="SignupForm.get('name').errors.maxlength">
                            <mat-error class="helpError">Ingrese como máximo 30 caracteres</mat-error>
                        </span>
                        <span *ngIf="SignupForm.get('name').errors.pattern">
                            <h6 class="helpError">Formato del nombre no válido</h6>
                        </span>
                    </span>
                </div>
    
    
    
                <div class="izquierda">
                    <mat-form-field class="example-full-width">
                        <mat-label>*Calle</mat-label>
                        <input matInput formControlName="street" class="form-control" (change)="ubicarEnMapa()" maxlength="50">
                    </mat-form-field>
                    <span class="help-block" *ngIf="((SignupForm.get('street').touched ||
                    SignupForm.get('street').dirty) &&
                    SignupForm.get('street').errors)">
                        <span *ngIf="SignupForm.get('street').errors.required">
                            <h6 class="helpError">Campo requerido</h6>
                        </span>
                        <span *ngIf="SignupForm.get('street').errors.maxlength">
                            <mat-error class="helpError">Ingrese como máximo 30 caracteres</mat-error>
                        </span>
                    </span>
                    <span class="help-block" *ngIf="(!validateCalle() && validateAltura())">
                        <h6 class="helpError" style="color: rgb(255, 250, 250) !important;">
                            -
                        </h6>
                    </span>
                </div>
    
                <div class="derecha">
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>*Altura</mat-label>
                            <input matInput placeholder="1234" (change)="ubicarEnMapa()" formControlName="altura" class="form-control" maxlength="4">
                        </mat-form-field>
                        <span class="help-block" *ngIf="((SignupForm.get('altura').touched ||
                        SignupForm.get('altura').dirty) &&
                        SignupForm.get('altura').errors)">
                            <span *ngIf="SignupForm.get('altura').errors.required">
                                <h6 class="helpError">Campo requerido</h6>
                            </span>
                            <span *ngIf="SignupForm.get('altura').errors.pattern">
                                <mat-error class="helpError">Formato de la altura no válido</mat-error>
                            </span>
                        </span>
                        <span class="help-block" *ngIf="(!validateAltura() && validateCalle())">
                            <h6 class="helpError" style="color: rgb(255, 250, 250) !important;">
                                -
                            </h6>
                        </span>
                    </div>
                </div>    
    
    
                <div class="example-full-width">
                    <mat-form-field class="example-full-width">
                        <mat-label>Sitio Web</mat-label>
                        <input matInput placeholder="www.adoptme2021.herokuapp.com" type="text" formControlName="facebook"
                            maxlength="70">
                    </mat-form-field>
                </div>
                
                <div class="margin" *ngIf="this.tiposRecomendacionSelected == 0">
                    <section>
                      <div style="margin-bottom: 15px;" class="leftLabel">
                        <mat-checkbox (change)="abierto24hsChange()" id="abierto24hs"></mat-checkbox><a ><u class="example-margin">Abierto las 24hs</u></a>
                      </div>
                    </section>
                  </div>
    
                <div id="passwordRequirement">
                    <div>
                        <p id="requer">(*)Campos obligatorios</p>
                    </div>
                </div>
                <div id="botones">
                    <a mat-raised-button *ngIf="!isLoading" color="accent" class="button confirmar" type="button"
                        id="confirmar" (mouseover)="validateButton()" style="padding: 10px;"
                        (click)="registrarRecomendacion()">Registrar</a>
                    <a mat-raised-button *ngIf="isLoading" style="padding: 10px;" color="accent" class="button loading"
                        type="button" id="btncuenta">
                        <img class=logo src="../../../assets/images/loading.gif" /></a>
                </div>
    
    
            </form>
        </div>
    </div>

</div>