<h3 class="titulo">Mascotas en adopción</h3>

<app-filters [inputCards]="cardsRequests" [inputEntityType]="solicitud"
    [inputStatusArray]="['Disponible Adopción y Provisorio','Disponible Adopción','Disponible Provisorio']" (initParentForm)="initForm($event)"
    (parentSetPage)="setPage($event)">
</app-filters>

<div class="margenes container-publicaciones">
    <mat-card class="card-publicacion" *ngFor=" let pet of mascotasPubAdopcion">
        <mat-card-header>
            <mat-card-title class="card-title sin-overflow">{{pet.nombreMascota}}</mat-card-title>
            <mat-card-subtitle>{{pet.sexo}} | {{pet.edad}}</mat-card-subtitle>
        </mat-card-header>
        <div class="contenedor-imagen">
            <img mat-card-image src={{pet.imagenCard}} alt="Imagen de la mascota" class="imagen">
        </div>
        <mat-card-content class="card-description">
            <div class="sin-overflow-description">{{pet.descripcion}}</div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="openMascota(pet)">Ver más</button>
        </mat-card-actions>
    </mat-card>
</div>