<body class="is-preload">
    <div id="page-wrapper">
        <section id="cta4">
            <div class="container">
                <header>
                    <div>
                        <div>
                            <h3 class="titulo" id="nombre">{{Titulo}}</h3>
                        </div>
                        <div class="container" id="perfiles">
                            
                            <div>
                                <mat-card class="regParticualr" (click)="gestionarUsuarios()">
                                  <img src=".\assets\images\engranaje.png" class="settings"/>
                                    <mat-card-header>
                                      <mat-card-title id="titCentro">Gestionar usuarios</mat-card-title>
                                      
                                    </mat-card-header>
                                  </mat-card>

                                  <mat-card class="regCentroRescatista" (click)="visualizarProvisorios()">
                                    <img src=".\assets\images\engranaje.png" class="settings"/>
                                    <mat-card-header>
                                      <mat-card-title id="titCentro">Visualizar provisorios</mat-card-title>
                                      
                                    </mat-card-header>
                                  </mat-card>

                                             
                                  <mat-card class="regParticualr" (click)="gestionarMascotas()">
                                    <img src=".\assets\images\engranaje.png" class="settings"/>
                                    <mat-card-header>
                                      <mat-card-title id="titCentro">Gestionar mascotas</mat-card-title>
                                      
                                    </mat-card-header>
                                  </mat-card>

                                  <mat-card class="regCentroRescatista" (click)="visualizarAdopciones()">
                                    <img src=".\assets\images\engranaje.png" class="settings"/>
                                    <mat-card-header>
                                      <mat-card-title id="titCentro">Visualizar adopciones</mat-card-title>
                                      
                                    </mat-card-header>
                                  </mat-card>

                                  <mat-card class="regParticualr" (click)="habilitarCentros()">
                                    <img src=".\assets\images\engranaje.png" class="settings"/>
                                    <mat-card-header>
                                      <mat-card-title id="titCentro">Habilitar centros rescatistas</mat-card-title>
                                      
                                    </mat-card-header>
                              
                                  </mat-card>

                                  <mat-card class="regCentroRescatista" (click)="administrarRecomendaciones()">
                                    <img src=".\assets\images\engranaje.png" class="settings"/>
                                    <mat-card-header>
                                      <mat-card-title id="titCentro">Administrar recomendaciones</mat-card-title>
                                      
                                    </mat-card-header>
                                  </mat-card>

                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </section>
    </div>
</body>