

.titulo{
    font-weight: 800;
    color: black;
    font-size: 200%;
    font-style: italic;
    margin-top: 2rem;
    margin-right: 2rem;
    text-align: center;
  }

  .footer{
    position:absolute;
    bottom:0;
  }

  #titCentro{
    padding-top: 8.5%;
    font-weight:bold;
    font-size: 150%;
}

  .regParticualr{
    width: 43%;
    height:40%;
    margin-top: 2rem;
    margin-left: 2rem;
    //margin-right: 2rem;
    background-color:#F8E2F1;
    float: left;
    padding-bottom:1.5rem;
    cursor: pointer;
    
  }

  .regCentroRescatista{
    width: 43%;
    height:40%;
    margin-top: 2rem;
    margin-right: 2rem;
    //margin-right: 2rem;
    background-color:#F8E2F1;
    float: right;
    padding-bottom:1.5rem;
    cursor: pointer;
  }

  .settings{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 7%;
    height: 7.5%;
    min-width: 50px;
    float: left;
  }
  
@media(max-width: 600px){
  .regCentroRescatista{
     width: 80%;
     float: none; 
     margin-right: auto;
     margin-left: auto;

  }
  .regParticualr{
    width: 80%;
    float: none;  
    margin-right: auto;
    margin-left: auto;
  }

  .titulo{
    text-align: center;
    margin-top:2rem;
    margin-right:2rem;
    margin-left:2rem;
  }
}

@media (min-width: 601px) and (max-width: 1084px)
{

  .regCentroRescatista{
    width: 41%;
    margin-right: 1%;
    margin-left: 1%;

 }

 .regParticualr{
   width: 41%;
   margin-left: 1%;
   margin-right: 1%;

 }

 .titulo{
  text-align: center;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left:2rem;
}

}


#parraf{
    font-style: italic;
}
.btnCentro{
    color:#B80092;
    font-weight:bold;
    border:#F8E2F1;
    background-color:#F8E2F1;
}

.btnParticular{
    font-weight:bold;
    color:#B80092;
    font-weight:bold;
    border:#F8E2F1;
    background-color:#F8E2F1;

}

.perfiles{
  display:inline-block;
  }

