.container-construction{
    background-color:#f1d4eb;
    width: 100%;
    padding: 40px 1px 0px 1px;
    
}

.txt-construction{
    background-color: #f1d4eb;
    text-align: justify;
    width: 91%;
    padding: 30px 1px 0px 40px;
    margin-top: 40px;
    font-size: calc(0.7em + 1vw);
    line-height: 120%;
}

.title-bold{
    font-weight: 500;
    text-align:center;
    font-size: calc(0.7em + 1vw);
    padding-bottom: 2%;
}


.img-item{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    width: 40%;
}

@media (max-width:600px){
    .img-item{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }

   
    
}

@media (min-width: 601px) and (max-width: 1700px)
{
    .img-item{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }
    
}