<mat-dialog-content>
<div class=container-construction>
    <div class=img-item>
        <img class=logo src="./assets/landing-images/section1-logo.png">
   
    </div>
    <div class=txt-construction>
        <p class=title-bold>TÉRMINOS Y CONDICIONES</p>
        <p>Esta sección describe los terminos y condiciones generales aplicables al uso 
           de los servicios ofrecidos por AdoptMe en el sitio. Cualquier persona que desee acceder y/o usar 
           el sitio o los servicios podrá hacerlo sujetándose a los Términos y Condiciones del mismo.</p>

        <p>Al aceptar estos Términos y Condiciones, el usuario se declara como único responsable de todas sus acciones e
           información que publique en el sitio, eximiendo de toda responsabilidad a AdoptMe. Por lo tanto, el usuario se 
           compromete a aportar información veraz y exacta en el registro como así también en los servicios de adopción y
           hogar provisorio disponibles en el sitio.</p>

       <p>La prestación de todos los servicios tiene carácter gratuito para los usuarios particulares como para centros rescatistas. 
         Además, el uso de los servicios de adopción y hogar provisiorio tanto para particulares como para centros rescatistas exige 
         la creacion de una cuenta. </p>
         
         <p>
         Asimismo, el usuario se responsabiliza de custodiar de manera diligente y confidencial su nombre de usuario y contraseña, notificando 
         a AdoptMe ante cualquier incidencia al respecto. Además, el usuario no podrá suplantar o intentar suplantar la identidad 
         del resto de usuarios en el Sitio Web. Tampoco podrá exhibir publicidad comercial ni vender animales, acosar, abusar o perjudicar 
         a otra persona o entidad.
        </p> 
    </div>
</div>
</mat-dialog-content>
