.container-construction{
    background-color:#f1d4eb;
    width: 100%;
    padding: 40px 1px 0px 1px;
    
}

#btncuenta{
    color: #EBEEF1;
    background-color: #c50fa1;
    cursor: pointer;
    float:right;
    border-radius: 4px;
    margin-right: 0%;
    margin-top: 0%;
    line-height: 36px;
    width: 36px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  }

.txt-construction{
    background-color: #f1d4eb;
    text-align: justify;
    width: 91%;
    padding: 30px 1px 2px 40px;
    margin-top: 40px;
    font-size: calc(0.7em + 1vw);
    line-height: 200%;
}

.title-bold{
    font-weight: 500;
    text-align:center;
    font-size: calc(0.7em + 1vw);
    padding-bottom: 2%;
}


.img-item{
    display: block;
    margin-left: auto;
    margin-right: 9px;
    align-items: center;
    width: 62%;
}

@media (max-width:600px){
    .img-item{
        display: block;
        margin-left: auto;
        margin-right: 10px;
        align-items: center;
        width: 90%;
        height: 50%;
    }

    
    .txt-construction{
        padding: 20px 1px 2px 10px;
    }
   
    
}

@media (min-width: 601px) and (max-width: 1700px)
{
    .img-item{
        display: block;
        margin-left:auto;
        margin-right:9px;
        align-items: center;
        width: 62%;
    }

    .txt-construction{
        padding: 30px 1px 2px 34px;
    }
    
}