@import url("../../app/components/signup-particular/signup-particular.component.scss");


dialog-content{
    overflow-y: initial !important;
 }

.mat-card-content{
    margin-bottom: 5% !important;
}

.card-container{
    height: auto;
    width: 100% !important;
    background-color: rgba(255, 251, 251, 0.95);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    margin:3px;
}

.card {
    width: 100%;
    height: 75px;
    border-radius: 15px;
    background-color: #F8E2F1;
    margin-bottom: 1.2%;
  }


#RequestContainer{
    margin-left: auto;
    margin-right: auto;
    padding-right: 4%;
}

::ng-deep .mat-paginator{
    background-color: transparent;
}
.lower-container{
    height: auto !important;
    overflow-y: auto !important;

}

table{
    width: 90%;
    margin-right: 50%;
}

#RequestContainer, .requestActions{
    float: right;
}

.requestActions{
    margin-top: 20px !important;
}

#RequestContainer{
    width: 85%;
    margin-top: 20px;
}

.actionButton{
    margin-bottom: 45px;
    width: 20%;
    height: 20%;
    padding: 0px !important;
}

.requestContent{
    width: 70%;
    float: left;
    padding-left: 10px;
    margin-top: 20px !important;
}

::ng-deep .mat-card-title, .mat-card-subtitle{
    width: 100% !important;
    text-align: left;
    margin-bottom: 0px;
}


.cut{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


p{
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 110% !important;
}


.description{
    width: 50%;
}

table{
    background-color: transparent;
    border-style: none;
}

//overflow-y: auto !important;


::ng-deep .mat-card-title{
    font-size: 120% !important;
    width: 100% !important;
}

::ng-deep .mat-card-subtitle{
    font-size: 100% !important;
}


.titulo{
    font-weight: 800 !important;
    color: black !important;
    font-size: 200%;
    font-style: italic;
    margin-top: 2rem;
    margin-right: 2rem;
    text-align: center;
  }
  
@media(max-width: 600px){
  .titulo{
    text-align: center;
    margin-top:2rem;
    margin-right:2rem;
    margin-left:2rem;
  }
  .requestContent{
    width: 30%;
    float: left;
    padding-left: 10px;
}

  .requestActions, .requestContent{
    margin-top: 15px !important;
}

.requestContent{
    width: 30%;
    float: left;
    padding-left: 10px;
}

    .accion{
        width: 40px;
        height: 0.2px;
    }

    ::ng-deep .mat-card-title{
       width: 70% !important;
    }

    #RequestContainer{
        padding-right: 7%;
    }

}

@media (min-width: 601px) and (max-width: 1084px)
{

 .titulo{
  text-align: center;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left:2rem;
}

.requestContent{
    width: 50%;
    float: left;
    padding-left: 10px;
}

.requestActions, .requestContent{
    margin-top: 15px !important;
}

::ng-deep .mat-card-title{
   width: 93% !important;
}


}
