<body class="is-preload">
    <div id="page-wrapper">
      <section id="cta4">
        <div class="container">
          <header>
            <div>
              <div>
                <h3 class="titulo">{{Titulo}}</h3>
              </div>
              <div class="componente-filtros">
                <div class="padding-filtros">
                  <form [formGroup]="FilterForm" *ngIf="FilterForm">
                    <div>
                      <mat-form-field class="example-full-width margenesFiltros filtro">
                        <mat-label>Centro rescatista</mat-label>
                        <input matInput placeholder="Nombre" formControlName="nombre" class="form-control" maxlength="30">
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="example-full-width margenesFiltros filtro">
                        <mat-label>Barrio</mat-label>
                        <input matInput placeholder="Barrio" formControlName="barrio" class="form-control" maxlength="30">
                      </mat-form-field>
                    </div>
                  </form>
                </div>
                <div class="botones">
                  <a mat-raised-button color="accent" class="button confirmado" style="color: #ffffff; background-color: rgb(133 131 131 / 83%);" type="button" id="confirmado"
                  (click)="clean()">Limpiar</a>
                  <a mat-raised-button color="accent" class="button confirmado" style="color: #ffffff; margin-left: 2%;" type="button" id="confirmado"
                    (click)="buscar()">Buscar</a>
                  </div>
              </div>
              <div id="RequestContainer">
                <table class="table table-bordered table-striped" id="searchTable">
                  <tbody>
                    <tr  *ngFor="let usuarios of UsuariosActivos  | 
                    slice: lowValue : highValue">
                      <mat-card class="card">
                        <!--Este contenedor tiene el contenido de la solicitud-->
                        <td class="requestContent">
                          <div>
                            <!-- Este es el codigo de la CARD-->
                            <mat-card-header>
                              <mat-card-title class="cut">Nombre: {{obtenerNombre(usuarios)}}
                              </mat-card-title>
                              <mat-card-subtitle> Tipo Usuario: {{obtenerTipoUsuario(usuarios.tipoUsuario)}}
  
                              </mat-card-subtitle>
                              <mat-card-subtitle>
  
                              </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content class="description">
                              <div class="boxDescription">
                                <p>
  
                                </p>
                              </div>
                            </mat-card-content>
                          </div>
                        </td>
                        <td class="requestActions">
                          <div class="actionButton">
                            <ng-container matColumnDef="Visualizar">
                              <th mat-header-cell *matHeaderCellDef style="border-radius: 20px; text-align: center;"> Visualizar Datos
                              </th>
                              <td mat-cell style="padding: 2px;">
                                <button mat-raised-button color="accent" class="accion" (click)="openUserForm(usuarios)"
                                  style="height: 32px; border-radius: 10px;">
                                  <mat-icon>remove_red_eye</mat-icon>
                                </button>
                              </td>
                            </ng-container>
  
                            <ng-container matColumnDef="Rechazar">
                              <th mat-header-cell *matHeaderCellDef style="border-radius: 20px; text-align: center;"> Bloquear
                              </th>
                              <td mat-cell style="padding: 2px;">
                                <button mat-raised-button color="warn" class="accion" *ngIf="usuarios.idEstado==1" (click)="cambiarEstado(usuarios,3)"
                                  style="height: 32px; border-radius: 10px;">
                                  <mat-icon>block</mat-icon>
                                </button>
                              </td>
                            </ng-container>
                          </div>
                        </td>
                      </mat-card>
                    </tr>

                    <tr *ngFor="let usuarios of UsuariosBloq  | 
                    slice: lowValue : highValue">
                      <mat-card class="card">
                        <!--Este contenedor tiene el contenido de la solicitud-->
                        <td class="requestContent">
                          <div>
                            <!-- Este es el codigo de la CARD-->
                            <mat-card-header>
                              <mat-card-title class="cut">Nombre: {{obtenerNombre(usuarios)}}
                              </mat-card-title>
                              <mat-card-subtitle> Tipo Usuario: {{obtenerTipoUsuario(usuarios.tipoUsuario)}}
  
                              </mat-card-subtitle>
                              <mat-card-subtitle>
  
                              </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content class="description">
                              <div class="boxDescription">
                                <p>
  
                                </p>
                              </div>
                            </mat-card-content>
                          </div>
                        </td>
                        <td class="requestActions">
                          <div class="actionButton">
                            <ng-container matColumnDef="Visualizar">
                              <th mat-header-cell *matHeaderCellDef style="border-radius: 20px; text-align: center;"> Visualizar Datos
                              </th>
                              <td mat-cell style="padding: 2px;">
                                <button mat-raised-button color="accent" class="accion" (click)="openUserForm(usuarios)"
                                  style="height: 32px; border-radius: 10px;">
                                  <mat-icon>remove_red_eye</mat-icon>
                                </button>
                              </td>
                            </ng-container>
  
                            <ng-container matColumnDef="Habilitar">
                              <th mat-header-cell *matHeaderCellDef style="border-radius: 20px; text-align: center;">
                                Activar
                              </th>
                              <td mat-cell>
                                <button mat-raised-button class="accion" color="primary" *ngIf="usuarios.idEstado==3" (click)="cambiarEstado(usuarios,1)"
                                  style="height: 32px; border-radius: 10px;">
                                  <mat-icon>how_to_reg</mat-icon>
                                </button>
                              </td>
                            </ng-container>
                          </div>
                        </td>
                      </mat-card>
                    </tr>
  
                    <!--[length]="onGoingRequests.length"-->
                    <!--
                    <mat-paginator [pageSize]="pageSize" (page)="getPaginatorData($event)">
                    </mat-paginator>
                    -->
                  </tbody>
                  <div class="margenes container-publicaciones" *ngIf="UsuariosActivos.length == 0 && UsuariosBloq.length == 0 && !filtroAplicado">
                    <h2>Por el momento no hay centros pendientes de habilitación...</h2>
                </div>
                <div class="margenes container-publicaciones" *ngIf="UsuariosActivos.length == 0 && UsuariosBloq.length == 0 && filtroAplicado">
                    <h2>No se han encontrado resultados que coincidan con la búsqueda realizada...</h2>
                </div>
                </table>
              </div>
            </div>
          </header>
        </div>
      </section>
    </div>
  </body>